<app-stepper></app-stepper>
<main role="main">
    <form style="width: 900px; margin-left: 200px;" [formGroup]="inscriptionBenef" (ngSubmit)="inscriptionBeneficiaire()">
        <div class="card m-3">
            <h5 class="card-header">Inscription d'un bénéficiaire</h5>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="form-group">
                        <label for="numPE">Votre numéro Pôle Emploi</label>
                        <input name="numPE" type="text" class="form-control" formControlName="numPE" placeholder="Numéro Pôle Emploi" readonly>
                        <br>
                        <div class="row">
                            <div class="col-xs-7 col-md-6">
                                <label for="nom">Renseignez votre nom</label>
                                <input name="nom" type="text " class="form-control " formControlName="nom" placeholder="Nom" required>
                            </div>
                            <div class="col-xs-7 col-md-6">
                                <label for="prenom">Renseignez votre prénom</label>
                                <input name="prenom" type="text " class="form-control " formControlName="prenom" placeholder="Prénom" required>
                            </div>
                        </div>
                        <label for="presentation">Votre présentation</label>
                        <angular-editor formControlName="presentation" [config]="editorConfig" placeholder="Présentation..."></angular-editor>
                        <br>
                        <label for="linkedin">Renseignez votre lien LinkedIn</label>
                        <input name="linkedin" type="text " class="form-control " formControlName="linkedin" placeholder="LinkedIn">
                        <br>
                        <label for="email" [ngClass]="inscriptionBenef.controls['email'].invalid ? 'text-danger' : ''">Adresse Mail</label>
                        <input id="email" formControlName="email" type="email" class="form-control" [ngClass]="inscriptionBenef.controls['email'].invalid ? 'is-invalid' : ''">
                        <label class="text-danger" *ngIf="inscriptionBenef.controls['email'].hasError('required')">
                        Adresse Mail obligatoire!
                      </label>
                        <label class="text-danger" *ngIf="inscriptionBenef.controls['email'].hasError('email')">
                        Entrer une adresse Mail!
                      </label>

                        <br>
                        <div class="row">
                            <div class="col-xs-7 col-md-6">
                                <label for="password" [ngClass]="inscriptionBenef.controls['password'].invalid ? 'text-danger' : ''">Mot de passe:</label>
                                <input id="password" formControlName="password" type="password" class="form-control" [ngClass]="inscriptionBenef.controls['password'].invalid ? 'is-invalid' : ''">
                                <label class="col" [ngClass]="inscriptionBenef.controls['password'].hasError('required') || inscriptionBenef.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                              <i class="material-icons">{{ inscriptionBenef.controls['password'].hasError('required') ||
                                inscriptionBenef.controls['password'].hasError('minlength') ? '' :
                                '' }}</i>
                              Doit contenir au minimum 8 caractères!
                            </label>
                                <label class="col" [ngClass]="inscriptionBenef.controls['password'].hasError('required') || inscriptionBenef.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                              <i class="material-icons">{{ inscriptionBenef.controls['password'].hasError('required') ||
                                inscriptionBenef.controls['password'].hasError('hasNumber') ? '' :
                                '' }}</i>
                                Doit contenir au minimum 1 chiffre!
                            </label>
                                <label class="col" [ngClass]="inscriptionBenef.controls['password'].hasError('required') || inscriptionBenef.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                              <i class="material-icons">{{ inscriptionBenef.controls['password'].hasError('required') ||
                                inscriptionBenef.controls['password'].hasError('hasCapitalCase') ? '' :
                                '' }}</i>
                                Doit contenir au minimum 1 majuscule!
                            </label>
                                <label class="col" [ngClass]="inscriptionBenef.controls['password'].hasError('required') || inscriptionBenef.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                              <i class="material-icons">{{ inscriptionBenef.controls['password'].hasError('required') ||
                                inscriptionBenef.controls['password'].hasError('hasSmallCase') ? '' :
                                '' }}</i>
                                Doit contenir au minimum 1 miniscule!
                            </label>
                                <label class="col" [ngClass]="inscriptionBenef.controls['password'].hasError('required') || inscriptionBenef.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                              <i class="material-icons">{{ inscriptionBenef.controls['password'].hasError('required') ||
                                inscriptionBenef.controls['password'].hasError('hasSpecialCharacters') ? '' :
                                '' }}</i>
                                Doit contenir au minimum 1 caractère spécial!
                            </label>
                            </div>
                            <div class="col-xs-7 col-md-6">
                                <label for="confirmPassword" [ngClass]="inscriptionBenef.controls['confirmPassword'].invalid ? 'text-danger' : ''">Confirmer le
                            mot de passe:</label>
                                <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" [ngClass]="inscriptionBenef.controls['confirmPassword'].invalid ? 'is-invalid' : ''">
                                <label class="text-danger" *ngIf="inscriptionBenef.controls['confirmPassword'].hasError('required')">
                            Le mot de passe est obligatoire!
                          </label>
                                <label class="text-danger" *ngIf="inscriptionBenef.controls['confirmPassword'].hasError('NoPassswordMatch')">
                            Le mot de passe ne correspond pas!
                          </label>
                            </div>
                        </div>
                        <button type="submit " name="boutonvalider" [disabled]="inscriptionBenef.invalid" id="boutonvalider" value="Envoyer " class="btn btn-info ">Valider</button>


                    </div>

                </div>
            </div>


        </div>

    </form>
</main>