<app-header></app-header>
<main class="container-fluid mb-4">
    <!--Begin Breadcrumb-->
    <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
            <li class="breadcrumb-item active">Evenements</li>
        </ol>
    </nav>
    <!--End Breadcrumb-->
    <div class="test">
        <article class="mb-3">
            <p class="date">Date de parution: {{evenement.datePublication | date : "dd.MM.y" }}</p>
            <p class="lieux">Lieu : {{evenement.localisation}}</p>
            <h1 class="titre">{{evenement.nom}}</h1>
            <p class="description" [innerHTML]="evenement.description"></p>
            <p class="dateEvt">{{evenement.dateEvenement | date : "dd.MM.y"}}</p>
        </article>
        <div *ngIf="verif==true">
            <button type="submit " id="boutoncreer" class="btn btn-info router" [routerLink]="['/evenements/modifier-evenement/', evenement.idevenement]" routerLinkActive="active">Modifier</button>

        </div>

    </div>

</main>