<app-header-admin></app-header-admin>
<main class="container-fluid mb-4">
    <div class="test">
        <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
        <form class="form-inline" target="hiddenFrame" [formGroup]="adminEntreprise" [class.form-submitted]="formsubmitted" (ngSubmit)="ajoutEntreprise()">
            <input type="text" formControlName="numRCS" class="form-control mr-sm-2 mb-2 mb-sm-0" name="numRCS" id="numRCS" placeholder="Numéro de SIRET"><br>
            <input type="text" formControlName="nomEntreprise" class="form-control mr-sm-2 mb-2 mb-sm-0" name="nomEntreprise" id="nomEntreprise" placeholder="Nom de la Société"><br>
            <button type="submit " value="Envoyer " class="btn btn-primary mt-2 mt-sm-0 " Onclick="javascript:window.history.go(0) ">Envoyer</button>
        </form>
    </div>
    <br><br>
    <p style="padding-left: 400px;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </p>
    <div class="container">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Numéro de SIRET</th>
                    <th scope="col">Nom Entreprise</th>
                    <th scope="col ">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let utilisateur of utilisateurs | paginate: { itemsPerPage: 5, currentPage: p }">
                    <th scope="row">{{utilisateur.numRCS}}</th>
                    <td>{{utilisateur.nomEntreprise}}</td>
                    <td><button type="button" class="btn btn-info" (click)="deleteUtilisateur(utilisateur.idutilisateur)" Onclick="javascript:window.history.go(0)">Supprimer</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</main>