main {
    margin-top: 80px;
    padding-bottom: 80px;
    background-image: url("/assets/img/fond.png");
}

#bandeauFilArianne {
    background-color: #17a2b8a6;
}

.logoCat {
    float: left;
    height: 80px;
    width: 200px;
    border-radius: 10px;
}

.test {
    width: 1200px;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #e8e8e8c2;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
}

.date {
    text-align: right;
}

.categorie {
    text-align: right;
}

.titre {
    text-align: center;
}