<app-header></app-header>
<main class="container-fluid mb-4">
    <!--Begin Breadcrumb-->
    <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
            <li class="breadcrumb-item active">Articles</li>
        </ol>
    </nav>
    <!--End Breadcrumb-->
    <div class="test">
        <article class="mb-3">
            <p class="date">Date de publication : {{article.dateParution | date : "dd.MM.y" }}</p>

            <img class="logoCat" src="/assets/img/articles/{{article.categorie}}.jpg">
            <p class="categorie">Catégorie : {{article.categorie}}</p><br><br>

            <h4 class="titre">{{article.nom}}</h4>
            <div style="background-color: #65c1cf17;border-radius: 10px;padding-right: 20px;padding-left: 20px;margin-left: -18px;padding-top: 10px;padding-bottom: 10px;">
                <p class="lead" [innerHTML]="article.contenu"></p>
            </div>
        </article>
        <div *ngIf="verif==true">
            <button style="float: right;" type="submit " id="boutoncreer" class="btn btn-info router" [routerLink]="['/articles/modif-article/', article.idarticle]" routerLinkActive="active">Modifier</button>
        </div>
    </div>
</main>