<app-header></app-header>

<main class="container-fluid mb-4" >
   
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/homePage">Accueil</a></li>
                    <li class="breadcrumb-item active">Créer Quiz</li>
                </ol>
            </nav>
       
   
<form [formGroup]="quizzForm" (ngSubmit)="modifQuiz()" class="row justify-content-center" style="margin-bottom: 100px;">
    <div class="card m-3">
        <h5 class="card-header">Modifier votre Quiz</h5>
        <div class="card-body">
            <div>
                
                <div class="form row"> <!--Tri formulaire-->
                    <!--label for="technosbacks">Choisissez la technologie de votre back</label-->
                    <div class="form-group col-md-6">
                        
                        <input name="titre" type="text" class="form-control" formControlName="nom" [(ngModel)]="quizId.nom">
                    </div>
                    <!--label for="technosfronts">Choisissez la technologie de votre front</label-->
                    <div class="form-group col-md-4">
                        <select class="form-control" formControlName="categories" [(ngModel)]="quizId.categorie">
                            <option value="">{{quizId.categorie}}</option>
                    <option *ngFor="let tabCategorie of tabCategories">{{tabCategorie}}</option>
                </select>
                    </div>
                    <!--label for="technosbases">Choisissez la technologie de votre database</label-->
                    <div class="form-group col-md-2">
                        <select class="form-control" formControlName="difficulte"[(ngModel)]="quizId.difficulte">
                    <option value="">{{quizId.difficulte}}</option>
                    <option *ngFor="let tabDifficulte of tabDifficultes">{{tabDifficulte}}</option>
                </select>
                    </div>
                </div>
                
            
                <label for="description">Renseignez une description de votre quizz</label>
                <angular-editor formControlName="description" [config]="editorConfig" [(ngModel)]="quizId.descriptif"></angular-editor>
                <br>
               
        <button style="float: right;" type="submit " id="boutoncreer" class="btn btn-info router" data-toggle="modal" data-target="#valmodification">Modifier</button>
        <br>
        <br>
        <div *ngFor="let question of questions; let i= index;">
            <div class>
                <h6> <b>Question {{i+1}}</b> {{question.question}}</h6>
               
                <div style="background-color:#e9ecef42;;"*ngFor="let reponse of reponsesGlobales; index as j">
                    <div *ngIf="question.idquestion === reponse.question.idquestion">
                      
                       
                        {{reponse.reponse}}
                        
                      </div>
                      
                </div>
                <br>
                 <button style="float: right;;" type="submit " id="boutoncreer" class="btn btn-info router" [routerLink]="['/quizs/modifier-question/', question.idquestion]">Modifier</button>
                 <br>
                 <br>
                 <br>
            </div>
          </div>
    </div>
        </div>
        <div class="modal fade" id="nvalmodification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modification du Quiz</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Vous avez modifié votre quiz avec succès.
                  
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary btn-ml active" Onclick="javascript:history.back()" data-dismiss="modal" aria-pressed="true">Fermer</button>
                  
                </div>
              </div>
            </div>
        </div>
    </div>
    
</form>
</main>