<main role="main">
    <div class="global">
        <div class="cadreform">
            <div class="center-div">
                <div class="btn-toolbar">
                    <button style="margin-right: 8px;" type="button" class="btn btn-outline-primary" (click)="content='showSubContent'">Beneficiaire IDP</button>
                    <button type="button" class="btn btn-outline-primary" (click)="content='showSubContentTwo'">Entreprises</button>
                </div>
                <div [ngSwitch]="content">

                    <div *ngSwitchDefault>
                        <form class="form-signin" [formGroup]="verifFormPE" (ngSubmit)="verifNumPE()">
                            <label for="inputNumPE" class="sr-only">numPE</label>
                            <input type="text" formControlName="numPE" id="inputNumPE" class="form-control" placeholder="votre numPE" required autofocus>
                            <br>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Verifier</button>
                            <p style="float: right;"><a routerLink="/login" routerLinkActive="active">Retour</a></p><br>
                        </form>
                    </div>
                    <div *ngSwitchCase="'showSubContent'">
                        <form class="form-signin" [formGroup]="verifFormPE" (ngSubmit)="verifNumPE()">
                            <label for="inputNumPE" class="sr-only">numPE</label>
                            <input type="text" formControlName="numPE" id="inputNumPE" class="form-control" placeholder="votre numPE" required autofocus>
                            <br>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Verifier</button>
                            <p style="float: right;"><a routerLink="/login" routerLinkActive="active">Retour</a></p><br>
                        </form>
                    </div>

                    <div *ngSwitchCase="'showSubContentTwo'">
                        <form class="form-signin" [formGroup]="verifFormRCS" (ngSubmit)="verifNumRCS()">
                            <label for="inputNumRCS" class="sr-only">numRCS</label>
                            <input type="text" formControlName="numRCS" id="inputNumRCS" class="form-control" placeholder="votre numRCS" required autofocus>
                            <br>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Verifier</button>
                            <p style="float: right;"><a routerLink="/login" routerLinkActive="active">Retour</a></p><br>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>