<app-header></app-header>
<main class="container-fluid mb-4">
    <!--Begin Breadcrumb-->
    <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
            <li class="breadcrumb-item active">Evenements</li>
        </ol>
    </nav>
    <form [formGroup]="modificationEvent" (ngSubmit)="modifEvent()" class="row justify-content-center">
        <div class="card m-3">
            <h5 class="card-header">Modifiez votre évènement</h5>
            <div class="card-body">

                <label for="eventNom">Renseignez le nom de votre évènement</label>
                <input name="nom" type="text" class="form-control" formControlName="nom" [(ngModel)]="evenement.nom">

                <div class="form-group">
                    <label for="description">Renseignez la description de votre evenement</label>
                    <angular-editor [config]="editorConfig" [placeholder]="'Description...'" formControlName="description" [(ngModel)]="evenement.description"></angular-editor>
                </div>
                <div class="form-group">
                    <label for="localisation">Insérez ici la localisation de votre évènement</label>
                    <select class="form-control" formControlName="localisation" [(ngModel)]="evenement.localisation" id="exampleFormControlSelect1">
                    <option value="">{{evenement.localisation}}</option>
                  <option *ngFor="let ville of villes">{{ville}}</option>
                </select>
                </div>
                <div class="form-group">
                    <input type="date" formControlName="dateEvenement" name="dateEvenement" max="3000-12-31 " min="1000-01-01 " class="form-control " [(ngModel)]="evenement.dateEvenement"><br>
                </div>
                <button style="float: right;" type="submit " id="boutoncreer" class="btn btn-info" data-toggle="modal" data-target="#valmodification">Modifier</button>
            </div>
        </div>
        <div class="modal fade" id="valmodification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modification de l'évènement</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                    </div>
                    <div class="modal-body">
                        Vous avez modifié votre évènement avec succès.

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-info btn-ml active" Onclick="javascript:history.back()" data-dismiss="modal" aria-pressed="true">Fermer</button>

                    </div>
                </div>
            </div>
        </div>
    </form>