 <!-- <footer class="bg-dark text-light py-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-end small">

                <p class="mb-0"><a routerLink="/admin" routerLinkActive="active">Admin</a></p>
                <p class="mb-0">&copy; Copyright JavAlumni 2020 &nbsp;</p>

            </div>
        </div>

    </div>

</footer>
-->


<footer style="height: 120px!important;" class="footer">
<!--Grid row-->
<div class="row">

  <!--Grid column-->
  <div class="col-lg-2 col-md-12 mb-4">

    <!--Image-->
    <div class="view overlay z-depth-1-half">
    </div>

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-lg-2 col-md-6 mb-4">

    <!--Image-->
    <div class="view overlay z-depth-1-half">
      <img src="/assets/img/aston.jpg" class="img-fluid"
        alt="">
      <a href="">
        <div class="mask rgba-white-light"></div>
      </a>
    </div>

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-lg-2 col-md-6 mb-4">

    <!--Image-->
    <div class="view overlay z-depth-1-half">
      <img src="/assets/img/idp.jpg" class="img-fluid"
        alt="">
      <a href="">
        <div class="mask rgba-white-light"></div>
      </a>
    </div>

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-lg-2 col-md-12 mb-4">

    <!--Image-->
    <div class="view overlay z-depth-1-half">
      <img src="/assets/img/afpa.jpg" class="img-fluid"
        alt="">
      <a href="">
        <div class="mask rgba-white-light"></div>
      </a>
    </div>

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-lg-2 col-md-6 mb-4">

    <!--Image-->
    <div class="view overlay z-depth-1-half">
      <img src="/assets/img/poleEmploi.jpg" class="img-fluid"
        alt="">
      <a href="">
        <div class="mask rgba-white-light"></div>
      </a>
    </div>

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-lg-2 col-md-6 mb-4">

    <!--Image-->
    <div class="view overlay z-depth-1-half">
    </div>

  </div>
  <!--Grid column-->
  <div class="container">
    <span class="text-muted"><a routerLink="/admin" routerLinkActive="active" style="color:black">Admin </a>@Copyright JavAlumni 2020</span>
  </div>
</div>
<!--Grid row-->

</footer>
