<app-header></app-header>
<main class="container-fluid mb-4">
    <section class="row my-4">
        <div class="col-12 col-md-9">
            <!--Begin Breadcrumb-->
            <nav>
                <ol id="bandeauFilArianne" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
                    <li class="breadcrumb-item active">Evenements</li>
                </ol>
            </nav>
            <!--End Breadcrumb-->
            <div *ngIf="pasEvenements === true">
                <div class="list-group list-group-flush mb-3" *ngFor="let evenement of data">
                    <article class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col12 col-md-8">
                                <h1 class="h3">{{evenement.nom}}</h1>
                                <p>{{evenement.localisation}}
                                </p>
                                <a [routerLink]="['/evenements/detail-evenement/', evenement.idevenement]" routerLinkActive="active" class="btn btn-info">En savoir plus</a>
                            </div>
                        </div>
                    </article>
                    <!--end article.list-group-item-->
                </div>
            </div>
            <div *ngIf="pasEvenements === false">
                <p>Je n'ai pas d'évènements</p>
            </div>
        </div>
        <!--End first column-->
        <div class="col-12 col-md-3">
            <section class="card">
                <div class="card-header bg-info text-white">
                    <h1 class="h5">Villes</h1>
                </div>
                <!--end .card-header-->
                <ul class="list-group">
                    <li *ngFor="let ville of villes" (click)="orderByVille(ville.nom)" [formGroup]="" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <a>{{ville.nom}}</a>
                        <span class="badge badge-pill badge-info">{{ville.count}}</span></li>
                </ul>
            </section>
            <br>
            <!--
            <div class="card-header bg-info text-white">
                <form class="form-signin" [formGroup]="mesEvenements" (ngSubmit)="listeMesArticles()">
                    <button type="submit " value="Envoyer " class="btn btn-info mt-2 mt-sm-0 ">Mes évènements</button>
                </form>
            </div>
            -->
            <br>
            <div class="card-header bg-info text-white">
                <a class="btn btn-info" routerLink="/evenements/creer-evenement">Publier un evenement</a>
            </div>

            <!--end Category section-->
        </div>
        <!--End second column-->
    </section>
    <!--end section.row-->
</main>
<!--end main.container-fluid-->
