#boutonpublier {
    float: right;
    width: 5rem;
}

main {
    margin-top: 80px;
    padding-bottom: 300px;
    background-image: url("/assets/img/fond.png");
}

#bandeauFilArianne {
    background-color: #17a2b8a6;
}
