<app-header></app-header>
<main role="main">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <!--<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>-->
                <img class="imageCarroussel" src="assets/img/afterWork.jpg">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>AfterWork</h1>
                        <p class="bandeauHP">Venez decouvrir la liste des derniers afterWorks </p>
                        <p class="btnBandeauHP"><a class="btn btn-lg btn-info" [routerLink]="['/evenements/liste-evenements']" role="button">Consulter</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="imageCarroussel" src="assets/img/offre.jpg">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Offres d'emploi</h1>
                        <p class="bandeauHP">CDI / CDD / Stages</p>
                        <p class="btnBandeauHP"><a class="btn btn-lg btn-info" [routerLink]="['/offres/liste-offres']" role="button">Consulter</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="imageCarroussel" src="assets/img/article.jpg">
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h1>Articles</h1>
                        <p class="bandeauHP">Java / JavaScript / Base de donnees etc....</p>
                        <p class="btnBandeauHP"><a class="btn btn-lg btn-info" [routerLink]="['/articles/liste-articles']" role="button">Consulter</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div style="padding-left: 150px;" class="row">
            <div id="dernierArticle" class="col-lg-3">
                <div class="enteteBulles">
                    <p style="text-align: center;">Dernier Article publié</p>
                </div>
                <img src="assets/img/bulle-article.jpg" class="imageRond" style="width:200px">
                <p class="apercuBulles" [innerHTML]="article.nom|slice:0:50"></p>
                <!--<p id="innerHTML" [innerHTML]="article.contenu|slice:0:20"></p>-->
                <p class="btnHP_detail"><a id="btnHP" class="btn btn-info " [routerLink]="[ '/articles/detail-article/', article.idarticle] ">Consulter</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div id="dernierEvt" class="col-lg-3 ">
                <div class="enteteBulles ">
                    <p style="text-align: center;">Dernier Evenement publié</p>
                </div>
                <img src="assets/img/bulle-afterWork.jpg " class="imageRond " style="width:200px ">
                <p class="apercuBulles" [innerHTML]="evenement.nom|slice:0:50"></p>
                <!--<p id="innerHTML" [innerHTML]="evenement.description|slice:0:20"></p>-->
                <p class="btnHP_detail"><a id="btnHP" class="btn btn-info " [routerLink]="[ '/evenements/detail-evenement/', evenement.idevenement] " role="button ">Consulter</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div id="dernierOffre" class="col-lg-3 ">
                <div class="enteteBulles ">
                    <p style="text-align: center;">Dernière Offre publiée</p>
                </div>
                <img src="assets/img/bulle-offre.jpg " class="imageRond " style="width:200px ">
                <p class="apercuBulles " [innerHTML]="offre.intitule|slice:0:50"></p>
                <!--<p id="innerHTML" [innerHTML]="offre.description|slice:0:20"></p>-->
                <p class="btnHP_detail"><a id="btnHP" class="btn btn-info " [routerLink]="[ '/offres/detail-offre/', offre.idoffre] ">Consulter</a></p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</main>