/* GLOBAL STYLES
-------------------------------------------------- */

main {
    margin-top: 55px;
    padding-bottom: 80px;
    background-image: url("/assets/img/fond.png");
}

.bandeauHP {
    margin-top: -20px;
}

.btnBandeauHP {
    padding-top: -10px!important;
}


/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */


/* Carousel base class */

.carousel {
    margin-bottom: 4rem;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    color: white;
    bottom: 3rem;
    z-index: 10;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


/* Declare heights because of positioning of img element */

.carousel-item {
    height: 32rem;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 150px;
    min-width: 80%;
    height: 32rem;
}


/* MARKETING CONTENT
  -------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
  ------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}


/* Menu avec js */

button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}

.imageRond {
    border-radius: 5%;
}

.enteteBulles {
    //height: 100px;
}

.apercuBulles {
    height: 50px;
    text-align: center;
}

.imageCarroussel {
    padding-top: 20px;
    height: 150px;
}

#dernierOffre {
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#dernierArticle {
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#dernierEvt {
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#btnHP {
    border-right-width: 100px;
    text-align: center;
}

#innerHTML {
    text-align: center;
}