<main role="main">
    <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
            <li class="breadcrumb-item active">Creation Article</li>
        </ol>
    </nav>
    <form [formGroup]="articleForm" (ngSubmit)="envoyerArticle()" class="row justify-content-center">
        <div class="card m-3">
            <h5 class="card-header">Créez votre article</h5>
            <div class="card-body">
                <div>

                    <label for="articleNom">Renseignez le titre de votre article</label>
                    <input name="titre" type="text" class="form-control" formControlName="nom" placeholder="Nom">

                    <label for="categorie">Renseignez la catégorie de votre article</label>
                    <select class="form-control" formControlName="categorie" placeholder="categorie" id="exampleFormControlSelect1">
                        <option value="defaut">---</option>
                        <option *ngFor="let categorie of categories ">{{categorie}}</option>
                      </select>

                    <label for="contenu ">Insérez ici le contenu de votre article</label>
                    <!--<angular-editor [config]="editorConfig " [placeholder]=" 'Enter text here...' " formControlName="contenu" [(ngModel)]="htmlContent "></angular-editor>-->
                    <angular-editor [config]="editorConfig " [placeholder]=" 'Enter text here...' " formControlName="contenu"></angular-editor>
                    <br>
                    <button type="submit " id="boutoncreer" class="btn btn-primary" [disabled]="!articleForm.valid">Créer</button>
                </div>
            </div>
        </div>
    </form>
</main>
