<app-header></app-header>
<main class="container-fluid mb-4">
    <section class="row my-4">
        <div class="col-12 col-md-9">
            <!--Begin Breadcrumb-->
            <nav>
                <ol id="bandeauFilArianne" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
                    <li class="breadcrumb-item active">Quizzes</li>
                </ol>
            </nav>
            <!--End Breadcrumb-->
            <img class="bandeau" src="/assets/img/bandeau-quiz.jpg">
            <p *ngIf="pasQuiz === true" style="padding-left: 300px; background-color: white;">
                <!-- <pagination-controls (pageChange)="p = $event" style="padding-left: 240px;"></pagination-controls>-->
            </p>
            <div *ngIf="pasQuiz === true">
                <!--<div class="list-group list-group-flush mb-3" *ngFor="let quiz of data | paginate: { itemsPerPage: 5, currentPage: p }">-->
                  <div class="list-group list-group-flush mb-3" *ngFor="let quiz of data">

                  <article class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col12 col-md-8">
                                <h1 class="h3">{{quiz.nom}}</h1>
                                <p [innerHTML]="quiz.descriptif">
                                </p>
                                <a style="margin-left: 680px; width: 200px;" [routerLink]="['/quizs/detail-quiz/', quiz.idquiz]" routerLinkActive="active" class="btn btn-info">&raquo; Lancer le Quiz</a>
                            </div>
                        </div>

                    </article>
                    <!--end article.list-group-item-->
                </div>
            </div>
            <div *ngIf="pasQuiz === false">
                <p>Je n'ai pas de Quizzes publié</p>
            </div>
            <p *ngIf="pasQuiz === true" style="padding-left: 300px; background-color: white;">
                <!--<pagination-controls (pageChange)="p = $event" style="padding-left: 240px;"></pagination-controls>-->
            </p>
        </div>
        <!--End first column-->
        <div class="col-12 col-md-3">
            <section class="card">
                <div class="card-header bg-info text-white">
                    <h1 class="h5">Categories Quizs</h1>
                </div>
                <!--end .card-header-->
                <ul class="list-group">
                    <!--<li *ngFor="let categorie of categories" (click)="orderByCategorie(categorie.categorie)" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">-->
                      <li *ngFor="let categorie of categories" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">

                      <a>{{categorie.categorie}}</a>
                        <span class="badge badge-pill badge-info">{{categorie.count}}</span></li>
                </ul>
            </section>
            <br>
            <div *ngIf="verif==true" class="card-header bg-info text-white">
                <a class="btn btn-info" routerLink="/quizs/creation-quizs">Publier un quizz</a>
            </div>
            <!--end Category section-->
        </div>
        <!--End second column-->
    </section>
    <!--end section.row-->
</main>
<!--end main.container-fluid-->
