main {
  margin-top: 80px;
  padding-bottom: 80px;
  background-image: url("/assets/img/fond.png");
}

.bandeau {
    height: 200px;
    width: 920px;
    align-items: center;
}

#bandeauFilArianne {
    background-color: #17a2b8a6;
}
