<app-header></app-header>
<main class="container-fluid mb-4">
    <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
            <li class="breadcrumb-item active">ModifMDP</li>
        </ol>
    </nav>
    <form [formGroup]="modificationMdp" (ngSubmit)="modifMdp()" class="row justify-content-center">
        <div class="form row">
            <div class="1">
                <div style="width: 802px;" class="card m-3">
                    <h5 class="card-header">Modifier mot de passe</h5>
                    <div class="card-body">

                        <div class="form-group col-xs-5 col-md-6">

                            <div> <label for="password" [ngClass]="modificationMdp.controls['password'].invalid ? 'text-danger' : ''">Mot de passe:</label>
                                <input id="password" formControlName="password" type="password" class="form-control" [ngClass]="modificationMdp.controls['password'].invalid ? 'is-invalid' : ''">
                                <label class="col" [ngClass]="modificationMdp.controls['password'].hasError('required') || modificationMdp.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ modificationMdp.controls['password'].hasError('required') ||
                modificationMdp.controls['password'].hasError('minlength') ? '' :
                'check_circle' }}</i>
              Doit contenir au minimum 8 caractères!
            </label>
                                <label class="col" [ngClass]="modificationMdp.controls['password'].hasError('required') || modificationMdp.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ modificationMdp.controls['password'].hasError('required') ||
                modificationMdp.controls['password'].hasError('hasNumber') ? '' :
                'check_circle' }}</i>
                Doit contenir au minimum 1 chiffre!
            </label>
                                <label class="col" [ngClass]="modificationMdp.controls['password'].hasError('required') || modificationMdp.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ modificationMdp.controls['password'].hasError('required') ||
                modificationMdp.controls['password'].hasError('hasCapitalCase') ? '' :
                'check_circle' }}</i>
                Doit contenir au minimum 1 majuscule!
            </label>
                                <label class="col" [ngClass]="modificationMdp.controls['password'].hasError('required') || modificationMdp.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ modificationMdp.controls['password'].hasError('required') ||
                modificationMdp.controls['password'].hasError('hasSmallCase') ? '' :
                'check_circle' }}</i>
                Doit contenir au minimum 1 miniscule!
            </label>
                                <label class="col" [ngClass]="modificationMdp.controls['password'].hasError('required') || modificationMdp.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
              <i class="material-icons">{{ modificationMdp.controls['password'].hasError('required') ||
                modificationMdp.controls['password'].hasError('hasSpecialCharacters') ? '' :
                'check_circle' }}</i>
                Doit contenir au minimum 1 caractère spécial!
            </label>
                            </div>
                        </div>
                        <div class="2">
                            <div class="col-xs-5 col-md-6">
                                <label for="confirmPassword" [ngClass]="modificationMdp.controls['confirmPassword'].invalid ? 'text-danger' : ''">Confirmer le 
                  mot de passe:</label>
                                <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" [ngClass]="modificationMdp.controls['confirmPassword'].invalid ? 'is-invalid' : ''">
                                <label class="text-danger" *ngIf="modificationMdp.controls['confirmPassword'].hasError('required')">
                  Le mot de passe est obligatoire!
                </label>
                                <label class="text-danger" *ngIf="modificationMdp.controls['confirmPassword'].hasError('NoPassswordMatch')">
                  Le mot de passe ne correspond pas!
                </label>
                            </div>
                        </div>


                        <button style="float: right;" type="submit " id="boutonmodifier" [disabled]="modificationMdp.invalid" class="btn btn-info router" data-toggle="modal" data-target="#valmodification">Modifier</button>
                    </div>

                    <div class="modal fade" id="valmodification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modification mot de passe</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                                </div>
                                <div class="modal-body">
                                    Vous avez modifié votre mot de passe avec succès.

                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-info btn-ml active" Onclick="javascript:history.back()" data-dismiss="modal" aria-pressed="true">Fermer</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>