<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
        <div style="margin-left: 0px; padding-right: 0px; margin-right: 0px;" class="container">
            <a routerLink="/homePage" routerLinkActive="active" class="navbar-brand"><img class="logo" src="/assets/img/logo2.png"></a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
        </button>
            <div class="collapse navbar-collapse" id="exCollapsingNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a routerLink="/projets/liste-projets" routerLinkActive="active" class="nav-link">Projets</a></li>
                    <li class="nav-item"><a routerLink="/articles/liste-articles" routerLinkActive="active" class="nav-link">Articles</a></li>
                    <li class="nav-item"><a routerLink="/offres/liste-offres" routerLinkActive="active" class="nav-link">Offres</a></li>
                    <li class="nav-item"><a routerLink="/evenements/liste-evenements" routerLinkActive="active" class="nav-link">Evenements</a></li>
                    <li class="nav-item"><a routerLink="/quizs/liste-quizs" routerLinkActive="active" class="nav-link">Quizzes</a></li>
                    <li class="nav-item"><a routerLink="/utilisateurs/liste-utilisateurs" routerLinkActive="active" class="nav-link">Annuaire</a></li>
                    <li class="nav-item"><a routerLink="/faqs/liste-faqs" routerLinkActive="active" class="nav-link">FAQ</a></li>

                </ul>
                <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                    <li class="nav-item order-2 order-md-1"><a href="/homePage" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li>
                    <li id="btnMonCpt" class="dropdown order-1">
                        <button style="margin-right: -100px;" type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary dropdown-toggle">Mon Compte <span class="caret"></span></button>
                        <ul style="margin-right: -100px;" class="dropdown-menu dropdown-menu-right mt-2">
                            <li class="px-3 py-2">
                                <div class="form-group text-center">
                                    <a routerLink="/mon-compte/projet" routerLinkActive="active" class="btn btn-info btn-ml active" role="button" aria-pressed="true" style="width: 100px;">Projet</a><br><br>
                                    <a routerLink="/mon-compte/mon-profil" routerLinkActive="active" class="btn btn-info btn-ml active" role="button" aria-pressed="true">Mon profil</a><br><br>
                                    <small><a routerLink="/login" (click)="clearLocalStorage()" routerLinkActive="active" style="color:black">Deconnexion</a></small>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>