<app-header></app-header>
<main class="container-fluid mb-4">
    <section class="row my-4">
        <div class="col-12 col-md-9">
            <!--Begin Breadcrumb-->
            <nav>
                <ol id="bandeauFilArianne" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
                    <li class="breadcrumb-item active">Projets</li>
                </ol>
            </nav>
            <!--End Breadcrumb-->
            <img class="bandeau" src="/assets/img/bandeau-projet.jpg">
            <p style="padding-left: 300px; background-color: white;">
                <pagination-controls (pageChange)="p = $event" style="padding-left: 240px;"></pagination-controls>
            </p>
            <div class="list-group list-group-flush mb-3" *ngFor="let projet of data | paginate: { itemsPerPage: 5, currentPage: p }">
                <article *ngIf="projet.idprojet != 1" class="list-group-item list-group-item-action">
                    <div class="row">
                        <div class="col12 col-md-8">
                            <h1 class="h3">{{projet.titre}}</h1>
                            <p [innerHTML]="projet.description|slice:0:250">
                            </p>
                            <a style="margin-left: 680px; width: 200px;" [routerLink]="['/projets/detail-projet/', projet.idprojet]" routerLinkActive="active" class="btn btn-info">&raquo; Voir le projet</a>
                        </div>
                    </div>

                </article>
                <!--end article.list-group-item-->
            </div>
            <p style="padding-left: 300px; background-color: white;margin-bottom: 75px">
                <pagination-controls (pageChange)="p = $event" style="padding-left: 240px;"></pagination-controls>
            </p>
        </div>
        <!--End first column-->
        <div class="col-12 col-md-3">
            <section class="card">
                <div class="card-header bg-info text-white">
                    <h1 class="h5">Etat Projet</h1>
                </div>
                <!--end .card-header-->
                <ul class="list-group">
                    <li *ngFor="let etat of etats" (click)="orderByEtat(etat.nom)" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <a *ngIf="etat.nom === 'enCours'">En Cours</a>
                        <a *ngIf="etat.nom === 'Termine'">Termin&eacute;</a>
                        <span *ngIf="etat.nom !== 'defaut'" class="badge badge-pill badge-info">{{etat.count}}</span></li>
                </ul>
            </section>
            <br>
            <div *ngIf="idDuProjet !== 1" class="card-header bg-info text-white">
                <a [routerLink]="['/projets/detail-projet/' ,idDuProjet]" *ngIf="entreprise === false && idDuProjet != 1" class="btn btn-info">Mon projet</a><br>
            </div><br>
            <div *ngIf="idProjetSoutenu === null" class="card-header bg-info text-white">
                <a [routerLink]="['/projets/detail-projet/' ,idProjetSoutenu]" *ngIf="entreprise === true || idProjetSoutenu > 1" class="btn btn-info">Projet soutenu</a>
            </div>

            <!--end Category section-->
        </div>
        <!--End second column-->
    </section>
    <!--end section.row-->
</main>
<!--end main.container-fluid-->