<app-header></app-header>
<main class="container-fluid mb-4">
    <section class="row my-4">
        <div class="col-12 col-md-9">
            <!--Begin Breadcrumb-->
            <nav>
                <ol id="bandeauFilArianne" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
                    <li class="breadcrumb-item active">Projets</li>
                </ol>
            </nav>
            <!--End Breadcrumb-->
            <div class="list-group list-group-flush mb-3">
                <article class="list-group-item list-group-item-action">
                    <div class="row">
                        <div class="col12 col-md-12">
                            <form *ngIf="verifOkIdPojetSoutenu() === false">
                                <button type="button" (click)="soutenirProjet()" class="btn btn-info btn-lg btn-block">Soutenir ce projet</button>
                            </form>
                            <div class="titreProjet">
                                <p style="text-align: left;">{{projet.titre}}</p>
                            </div>

                            <div class="description">
                                <h6 style="text-decoration: underline;">Description : </h6> {{projet.description}}
                            </div><br>
                            <div class="fonctionnalites">
                                <h6 style="text-decoration: underline;">Fonctionnalités : </h6>
                                <p> <b>1-</b> {{splitfonc[0]}}</p>
                                <p> <b>2-</b> {{splitfonc[1]}}</p>
                                <p> <b>3-</b> {{splitfonc[2]}}</p>
                            </div><br>


                            <div style="width: 880px;" class="technologies">
                                <h6 style="text-decoration: underline;">Technologies: </h6>
                                <div style="margin-left: 80px;">
                                    <div style="float: left; width: 250px;">
                                        <p> <b>Back :</b> {{splitted[0]}}</p>
                                        <img class="logoBack" src="/assets/img/logos/{{splitted[0]}}.jpg">
                                    </div>
                                    <div style="float: left; width: 250px;">
                                        <p> <b>Front :</b> {{splitted[1]}}</p>
                                        <img class="logoBack" src="/assets/img/logos/{{splitted[1]}}.jpg">
                                    </div>
                                    <div style="float: left; width: 250px;">
                                        <p> <b>Database :</b> {{splitted[2]}}</p>
                                        <img class="logoBack" src="/assets/img/logos/{{splitted[2]}}.jpg">
                                    </div>
                                    <br style="clear: left;" />
                                </div>
                            </div><br>

                            <div class="gits">
                                <h6 style="text-decoration: underline;">Gits: </h6>
                                <div *ngFor="let git of gits">
                                    <p class="git"><a href="{{git.url}}" target="_blank" style="color:rgb(0,0,0)">{{git.url}}</a></p>
                                </div>
                            </div><br>

                            <h6 class="h6">Liste des soutiens</h6>
                            <ul class="list-group">
                                <li *ngFor="let utilisateur of utilisateurs" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                    <p class="soutiens"><a href="mailto:{{utilisateur.email}}" style="color:rgb(0,0,0)">Contacter le soutien : {{utilisateur.email}}</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </article>
                <!--end article.list-group-item-->
            </div>
        </div>
        <!--End first column-->
        <div class="col-12 col-md-3">
            <div style="background-color: #e9ecef42; border-radius: 8px;" class="scroll">
                <section class="card">
                    <div>
                        <div class="messages">
                            <h4>Messages</h4>
                            <div class="message" *ngFor="let commentaire of commentaires">
                                <div class="pic">
                                    <span class="cercle">{{commentaire.utilisateur.prenom | slice:0:1}}{{commentaire.utilisateur.nom | slice:0:1}}</span>
                                    <!--<img src="/assets/img/man.svg" alt="profile-img">-->
                                </div>
                                <div class="message-text">
                                    <span>{{commentaire.utilisateur.prenom}} {{commentaire.utilisateur.nom}}</span>
                                    <p class="test">{{commentaire.text}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <br><br>
            <div class="input-area">
                <form class="form-signin" [formGroup]="inputCommentaire" [class.form-submitted]="formsubmitted" (ngSubmit)="EnvoyerCommentaire()">
                    <div>
                        <textarea style="background-color: #f5f5f5da;" class="form-control" formControlName="text" id="exampleFormControlTextarea1" rows="3" placeholder="Ici votre commentaire"></textarea>
                        <br>
                        <button type="submit " value="Envoyer " class="btn btn-info" Onclick="javascript:window.history.go(0) ">Envoyer</button>
                    </div>
                </form>
            </div>
            <!--end Category section-->
        </div>
        <!--End second column-->
    </section>
    <!--end section.row-->
</main>