                        main {
                            margin-top: 80px;
                            padding-bottom: 80px;
                            background-image: url("/assets/img/fond.png");
                        }
                        
                        div.scroll {
                            height: 300px;
                            overflow-x: hidden;
                            overflow-x: auto;
                            text-align: justify;
                        }
                        
                        %input {
                            width: 100%;
                            border: none;
                            //background: rgba(0, 0, 0, 0.08);
                            padding: 10px;
                            color: rgba(0, 0, 0, 0.3);
                            font-size: 14px;
                            font-weight: bold;
                            font-family: 'Roboto Condensed', sans-serif;
                            border-radius: 8px;
                            &:focus {
                                outline: none;
                            }
                        }
                        
                        .input-area {
                            width: 100%;
                            form {
                                display: flex;
                                flex-direction: column;
                                div {
                                    display: flex;
                                    flex-direction: column;
                                    max-width: 450px;
                                    input {
                                        @extend %input;
                                        margin: 0 0 10px 0;
                                    }
                                    textarea {
                                        @extend %input;
                                    }
                                }
                            }
                        }
                        
                        .card {
                            margin-left: 15px;
                            margin-right: 15px;
                            border: none;
                        }
                        
                        .test {
                            font-size: 16px !important;
                            border-radius: 10px;
                            background-color: #e9ecef42;
                        }
                        
                        .messages {
                            margin-bottom: 30px;
                            border-bottom: 2px solid rgba(0, 0, 0, 0.2);
                            background-color: #e9ecef42;
                            max-width: 500px;
                            h4 {
                                margin: 10px 0;
                            }
                            .message {
                                background-color: #e9ecef42;
                                display: flex;
                                .pic {
                                    display: flex;
                                    align-items: center;
                                    .cercle {
                                        height: 40px;
                                        width: 40px;
                                        border-radius: 50%;
                                        background: #17a2b8;
                                        padding-left: 9px;
                                        padding-top: 6px;
                                        font-weight: bold;
                                    }
                                }
                                .message-text {
                                    background-color: #e9ecef42;
                                    padding: 10px;
                                    span {
                                        font-size: 11px;
                                        opacity: 0.8;
                                        font-weight: bold;
                                    }
                                    p {
                                        font-size: 15px;
                                        opacity: 0.6;
                                        margin: 2px 0;
                                    }
                                }
                            }
                        }
                        
                        .titreProjet {
                            margin-top: 10px;
                            text-align: left;
                            font-size: 16px;
                            font-weight: bold;
                            border-radius: 10px;
                        }
                        
                        .description {
                            background-color: #e9ecef42;
                            padding: 20px;
                            text-align: justify;
                            border-radius: 8px;
                        }
                        
                        .fonctionnalites {
                            background-color: #e9ecef42;
                            padding: 20px;
                            text-align: justify;
                            border-radius: 8px;
                        }
                        
                        .technologies {
                            background-color: #e9ecef42;
                            padding: 20px;
                            text-align: justify;
                            border-radius: 8px;
                        }
                        
                        .gits {
                            background-color: #e9ecef42;
                            padding: 20px;
                            border-radius: 8px;
                        }
                        
                        .soutiens {
                            background-color: #e9ecef42;
                            padding: 20px;
                            width: 100%;
                            border-radius: 8px;
                        }
                        
                        #bandeauFilArianne {
                            background-color: #17a2b8a6;
                        }
                        
                        .logoBack {
                            width: 100px;
                            height: 100px;
                            border-radius: 10px;
                        }