<app-header></app-header>
<main class="container-fluid mb-4">
    <section class="row my-4">
        <div class="col-12 col-md-9">
            <!--Begin Breadcrumb-->
            <nav>
                <ol id="bandeauFilArianne" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
                    <li class="breadcrumb-item active">FAQs</li>
                </ol>
            </nav>
            <!--End Breadcrumb-->
            <img class="bandeau" src="/assets/img/bandeau-faq.jpg">
            <div style="margin-left: 20px;" class="panel-group" id="accordion">
                <div class="panel panel-default" *ngFor="let thematique of thematiques">
                    <div>
                        <div class="faqHeader">
                            {{thematique.thematique}}
                        </div>
                        <div class="panel-heading">
                            <ul style="background-color:#e9ecef;" *ngFor="let faq of faqs">
                                <li style="list-style:none; padding:10px" *ngIf="thematique.thematique === faq.thematique">
                                    <div *ngFor="let reponse of reponsesGlobales">
                                        <a *ngIf="reponse.faq.idfaq === faq.idfaq" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" [href]="'#'+ faq.thematique + faq.idfaq" style="color:black">{{faq.question}}</a>
                                        <div *ngIf="reponse.faq.idfaq === faq.idfaq">
                                            <div style="padding:10px" [id]="faq.thematique + faq.idfaq" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    {{reponse.reponse}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end article.list-group-item-->
            </div>
        </div>
        <div class="col-12 col-md-3">
            <section class="card">
                <button type="button " value="PoserQst" class="btn btn-info mt-2 mt-sm-0 " data-toggle="modal" data-target="#exampleModalCenter">
                    Posez votre question si vous ne trouvez pas votre réponse</button>

                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Votre question</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="ajoutqstFAQ" (ngSubmit)="saveQstFAQ()" class="row justify-content-center">
                                    <div id="wrapper">
                                        <div id="inner1">
                                            <div>
                                                <select class="form-control" formControlName="thematique" placeholder="thematique" id="exampleFormControlSelect1">
                                        <option value="defaut">--Thematique--</option>
                                        <option *ngFor="let cat of catThematique ">{{cat}}</option>
                                        <br>
                                      </select>
                                            </div>
                                        </div><br><br>
                                        <div id="inner2">
                                            <div>
                                                <textarea style="width: 450px;" class="fonction" rows="5" name="question" type="text " class="form-control " formControlName="question" placeholder="question"></textarea>
                                            </div><br><br>
                                        </div><br><br>
                                        <button style="float: right;" type="submit" id="boutonenvoyer" class="btn btn-info router" Onclick="javascript:window.history.go(0)">Envoyer</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--end Category section-->
        </div>
        <!--End first column-->
        <!--End second column-->
    </section>
    <!--end section.row-->
</main>
<!--end main.container-fluid-->
