<app-header></app-header>

<main role="main">
    <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
            <li class="breadcrumb-item active">Quiz</li>
        </ol>
    </nav>
    <div class="cadreFormulaire">
        <form [formGroup]="quiz" (ngSubmit)="traiter()">
            <div style="margin-left: 0px;" *ngFor="let question of questions; let i= index;">
                <div class>
                    <h6>Question n°{{i+1}}</h6>
                    {{question.question}}
                    <div *ngFor="let reponse of reponsesGlobales;">
                        <div *ngIf="question.idquestion === reponse.question.idquestion">

                            <input type="radio" name="choix{{i+1}}" formControlName="choix{{i+1}}" [value]="reponse.bonneReponse" id="radio{{reponse.idreponse}}" class="radio" />
                            <label style="width: 800px; border-left-width: 0px;" for="radio{{reponse.idreponse}}">{{reponse.reponse}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-left: 500px;">
                <button style="float: right;" type="submit" [disabled]="!quiz.valid" class="btn btn-info btn-lg" data-toggle="modal" data-target="#exampleModalCenter">Voir les resultats</button>
                <div *ngIf="verif==true">
                    <button style="float: left;" type="submit " id="boutoncreer" class="btn btn-info router" [routerLink]="['/quizs/modifier-quizs/', id]" routerLinkActive="active">Modifier</button>
                </div>
            </div>
            <br><br>

            <div style="
  margin-right: 0px;
  right: 100px;
  left: 300px;
" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Resultat du Quiz</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
                        </div>
                        <div class="modal-body">
                            {{result}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" [routerLink]="[ '/quizs/liste-quizs']" data-dismiss="modal" class="btn btn-info btn-lg btn-block">voir la liste des Quizs</button><br>
                            <button type="button" class="btn btn-info" data-dismiss="modal" Onclick="javascript:window.history.go(0)">Refaire le Quiz</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
