<app-header></app-header>
<main class="container-fluid mb-4">
    <section class="row my-4">
        <div class="col-12 col-md-9">
            <!--Begin Breadcrumb-->
            <nav>
                <ol id="bandeauFilArianne" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
                    <li class="breadcrumb-item active">Articles</li>
                </ol>
            </nav>
            <!--End Breadcrumb-->
            <div *ngIf="pasArticles === true">
                <div class="list-group list-group-flush mb-3" *ngFor="let article of data">
                    <article class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col12 col-md-8">
                                <h1 class="h3">{{article.categorie}}</h1>
                                <p [innerHTML]="article.contenu | slice:0:0">
                                </p>
                                <a style="margin-left: 680px; width: 200px;" [routerLink]="['/articles/detail-article/', article.idarticle]" routerLinkActive="active" class="btn btn-info">&raquo; Lire l'article</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div *ngIf="pasArticles === false">
                <p>Je n'ai pas d'articles</p>
            </div>
            <!--end article.list-group-item-->
        </div>
        <div class="col-12 col-md-3">
            <section class="card">
                <div class="card-header bg-info text-white">
                    <h1 class="h5">Thematique</h1>
                </div>
                <!--end .card-header-->
                <ul class="list-group">
                    <li *ngFor="let cat of cats" (click)="orderByCat(cat.nom)" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <a>{{cat.nom}}</a>
                        <span class="badge badge-pill badge-info">{{cat.count}}</span></li>
                </ul>
            </section>
            <br>
            <div class="card-header bg-info text-white">
                <a class="btn btn-info" routerLink="/articles/creer-article">Publier un article</a>
            </div>
        </div>
        <!--End first column-->
        <!--End second column-->
    </section>
    <!--end section.row-->
</main>
<!--end main.container-fluid-->