<app-header></app-header>
<main class="container-fluid mb-4">

    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homePage">Accueil</a></li>
            <li class="breadcrumb-item active">Créer Quiz</li>
        </ol>
    </nav>


    <form style="margin-bottom: 100px;" [formGroup]="quizzForm" (ngSubmit)="envoyerQuizz()" class="row justify-content-center">
        <div class="card m-3">
            <h5 class="card-header">Créez votre quizz</h5>
            <div class="card-body">
                <div>

                    <div class="form row">
                        <!--Tri formulaire-->
                        <!--label for="technosbacks">Choisissez la technologie de votre back</label-->
                        <div class="form-group col-md-6">

                            <input name="titre" type="text" class="form-control" formControlName="nom" placeholder="Titre">
                        </div>
                        <!--label for="technosfronts">Choisissez la technologie de votre front</label-->
                        <div class="form-group col-md-4">
                            <select class="form-control" formControlName="categories">
                    <option >Catégories</option>
                    <option *ngFor="let tabCategorie of tabCategories">{{tabCategorie}}</option>
                </select>
                        </div>
                        <!--label for="technosbases">Choisissez la technologie de votre database</label-->
                        <div class="form-group col-md-2">
                            <select class="form-control" formControlName="difficulte">
                    <option value="">---</option>
                    <option *ngFor="let tabDifficulte of tabDifficultes">{{tabDifficulte}}</option>
                </select>
                        </div>
                    </div>


                    <label for="description">Renseignez une description de votre quizz</label>
                    <angular-editor formControlName="description" [config]="editorConfig" placeholder="Description..."></angular-editor>
                    <br>
                    <div class="form-row">
                        <!--Formulaire de création du Quizz-->
                        <div class="form-group col-md-12">
                            <label for="question">Question n°1</label>
                            <textarea style="" name="titre" type="text" class="form-control" formControlName="titreQuestion" placeholder="Titre de votre question"></textarea> <textarea style="" name="titre" type="text" class="form-control" formControlName="reponse1"
                                placeholder="Bonne réponse"></textarea>
                            <textarea style="" name="titre" type="text" class="form-control" formControlName="reponse2" placeholder="Réponse 2"></textarea>
                            <textarea style="" name="titre" type="text" class="form-control" formControlName="reponse3" placeholder="Réponse 3"></textarea>


                            <label for="description">Question n°2</label>
                            <textarea name="titre" type="text" class="form-control" formControlName="titreQuestion2" placeholder="Titre de votre question"></textarea>
                            <textarea name="titre" type="text" class="form-control" formControlName="reponse4" placeholder="Bonne réponse"></textarea>
                            <textarea name="titre" type="text" class="form-control" formControlName="reponse5" placeholder="Réponse 2"></textarea>
                            <textarea name="titre" type="text" class="form-control" formControlName="reponse6" placeholder="Réponse 3"></textarea>




                            <label for="question">Question n°3</label>
                            <textarea name="titre" type="text" class="form-control" formControlName="titreQuestion3" placeholder="Titre de votre question"></textarea>
                            <textarea name="titre" type="text" class="form-control" formControlName="reponse7" placeholder="Bonne réponse"></textarea>
                            <textarea name="titre" type="text" class="form-control" formControlName="reponse8" placeholder="Réponse 2"></textarea>
                            <textarea name="titre" type="text" class="form-control" formControlName="reponse9" placeholder="Réponse 3"></textarea>

                            <label for="description">Question n°4</label>
                            <textarea name="titre" type="text" class="form-control" formControlName="titreQuestion4" placeholder="Titre de votre question"></textarea>
                            <textarea name="titre" type="text" class="form-control" formControlName="reponse10" placeholder="Bonne réponse"></textarea>
                            <textarea name="titre" type="text" class="form-control" formControlName="reponse11" placeholder="Réponse 2"></textarea>
                            <textarea name="titre" type="text" class="form-control" formControlName="reponse12" placeholder="Réponse 3"></textarea>

                            <label for="question">Question n°5</label>
                            <textarea name="titre" type="text" class="form-control" formControlName="titreQuestion5" placeholder="Titre de votre question"></textarea>
                            <textarea name="titre" type="text" class="form-control" formControlName="reponse13" placeholder="Bonne réponse"></textarea>
                            <textarea name="titre" type="text" class="form-control" formControlName="reponse14" placeholder="Réponse 2"></textarea>
                            <textarea name="titre" type="text" class="form-control" formControlName="reponse15" placeholder="Réponse 3"></textarea>

                            <label for="description">Question n°6</label>
                            <textarea name="titre" type="text" class="form-control" formControlName="titreQuestion6" placeholder="Titre de votre question"></textarea>
                            <textarea name="titre" type="text" class="form-control" formControlName="reponse16" placeholder="Bonne réponse"></textarea>
                            <textarea name="titre" type="text" class="form-control" formControlName="reponse17" placeholder="Réponse 2"></textarea>
                            <textarea name="titre" type="text" class="form-control" formControlName="reponse18" placeholder="Réponse 3"></textarea>
                        </div>


                    </div>
                    <button style="float: right;" type="submit " id="boutoncreer" class="btn btn-primary router" data-toggle="modal" data-target="#valmodification">Creez</button>
                </div>
            </div>
            <div class="modal fade" id="valmodification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Création du Quiz</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                        </div>
                        <div class="modal-body">
                            Vous avez créez votre quiz avec succès.

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary btn-ml active" Onclick="javascript:history.back()" data-dismiss="modal" aria-pressed="true">Fermer</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</main>