<app-header></app-header>
<main role="main">
    <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
            <li class="breadcrumb-item active">Projet</li>
        </ol>
    </nav>
    <form [formGroup]="projetForm" (ngSubmit)="envoyer()">
        <div style="width: 902px;margin-left: 203px!important;" id="cadreFormulaire" class="card m-3">
            <h5 class="card-header">Créez votre projet</h5>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="form-group">
                        <label for="projetTitle">Renseignez le titre de votre projet</label>
                        <input name="titre" type="text" class="form-control" formControlName="titre" placeholder="Titre">


                        <label for="description">Renseignez une description de votre projet</label>
                        <angular-editor formControlName="description" [config]="editorConfig" placeholder="Description..."></angular-editor>

                        <br>
                        <label for="technologies">Listez les technologies qui seront utilisées</label>
                        <br>
                        <div class="row">
                            <!--label for="technosbacks">Choisissez la technologie de votre back</label-->
                            <div class="col-xs-5 col-md-4">
                                <select class="form-control" formControlName="technosbacks">
                        <option value="">Back</option>
                        <option *ngFor="let technosback of technosbacks">{{technosback}}</option>
                    </select>
                            </div>
                            <!--label for="technosfronts">Choisissez la technologie de votre front</label-->
                            <div class="col-xs-5 col-md-4">
                                <select class="form-control" formControlName="technosfronts">
                        <option value="">Front</option>
                        <option *ngFor="let technosfront of technosfronts">{{technosfront}}</option>
                    </select>
                            </div>
                            <!--label for="technosbases">Choisissez la technologie de votre database</label-->
                            <div class="col-xs-5 col-md-4">
                                <select class="form-control" formControlName="technosbases">
                        <option value="">DataBase</option>
                        <option *ngFor="let technosbase of technosbases">{{technosbase}}</option>
                    </select>
                            </div>
                        </div>

                        <br>
                        <label for="fonctions">Listez les Fonctionnalités de votre application</label>
                        <div class="row">
                            <div class="col-xs-5 col-md-4">
                                <textarea class="fonction" rows="5" name="fonctionnalites" type="text " class="form-control " formControlName="fonctionnalites1" placeholder="Fonctionnalité n°1 - 5 à 6 lignes max"></textarea>
                            </div>
                            <div class="col-xs-5 col-md-4">
                                <textarea class="fonction" rows="5" name="fonctionnalites" type="text " class="form-control " formControlName="fonctionnalites2" placeholder="Fonctionnalité n°2 - 5 à 6 lignes max"></textarea>
                            </div>
                            <div class="col-xs-5 col-md-4">
                                <textarea class="fonction" rows="5" name="fonctionnalites" type="text " class="form-control " formControlName="fonctionnalites3" placeholder="Fonctionnalité n°3 - 5 à 6 lignes max"></textarea>
                            </div>
                        </div>
                        <label for="gits">Listez les URL Git de votre application</label>
                        <div class="row">
                            <div class="col-xs-5 col-md-6">
                                <textarea class="fonction" rows="1" name="gits" type="text " class="form-control " formControlName="gits1" placeholder="URL Git n°1  "></textarea>
                            </div>
                            <div class="col-xs-5 col-md-6">
                                <textarea class="fonction" rows="1" name="gits" type="text " class="form-control " formControlName="gits2" placeholder="URL Git n°2 "></textarea>
                            </div>
                        </div>
                        <br>
                        <label for="exampleInputEmail1">Renseignez le nom du groupe</label>
                        <input name="groupe" type="text " class="form-control " formControlName="groupe" placeholder="Nom du groupe">
                        <br>
                        <button type="submit " id="boutonvalider" class="btn btn-info " data-toggle="modal" data-target="#exampleModalCenter">Valider</button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">VALIDATION PROJET</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                                    </div>
                                    <div class="modal-body">
                                        Vous pouvez maintenant communiquer le nom de votre groupe aux membres de votre groupe pour le rejoindre
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Retour</button>
                                        <button class="btn btn-info" Onclick="javascript:window.history.go(0)"><a [routerLink]="['/mon-compte/mon-profil']" style="color: white;">Valider</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </form>
</main>