main {
    margin-top: 80px;
    padding-bottom: 80px;
    background-image: url("/assets/img/fond.png");
}

#bandeauFilArianne {
  background-color: #17a2b8a6;
}

#form-group {
    text-align: center;
}

#boutonvalider {
    float: right;
    width: 5rem;
}
