<app-header></app-header>

<main class="container-fluid mb-4" >
   
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/homePage">Accueil</a></li>
                    <li class="breadcrumb-item active">Créer Quiz</li>
                </ol>
            </nav>
       
   
<form [formGroup]="quizzForm" class="row justify-content-center" (ngSubmit)="modifQuestion()">
    <div class="card m-3">
        <h5 class="card-header">Modifier votre question</h5>
        <div class="card-body">
            <div>
                <label for="intitule">Intitulé de la question</label>
                <input style="width: 450px;" name="nom" type="text" class="form-control" formControlName="question" [(ngModel)]="question.question">
                <button style="float: right;;" type="submit" id="boutoncreer" class="btn btn-info router" data-toggle="modal" data-target="#valmodificationquestion">Modifier</button>
            </div>
            <br>
        </div>
    </div>
</form>

<form [formGroup]="repForm" class="row justify-content-center" style="margin-bottom: 100px;">
    <div class="card m-3">
        <h5 class="card-header">Modifier vos reponses</h5>
        <div class="card-body">
<div>
    <div *ngFor="let reponse of reponses; let j = index;">
        <textarea style="width: 450px;" class="form-control" formControlName="reponse{{j+1}}" [(ngModel)]="reponse.reponse">{{reponse.reponse}}</textarea>
       
        <button style="float: right;;" (click)="modifierReponse(reponse.idreponse,reponse.bonneReponse)"  class="btn btn-info router" data-toggle="modal" data-target="#valmodification">Modifier</button>
    </div>
</div>
<div class="modal fade" id="valmodification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modification réponse</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                Vous avez modifié votre réponse avec succès.

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" Onclick="javascript:window.history.go(0)" data-dismiss="modal">Fermer</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="valmodificationquestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modification question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                Vous avez modifié votre question avec succès.

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" Onclick="javascript:window.history.go(0)" data-dismiss="modal">Fermer</button>

            </div>
        </div>
    </div>
</div>
</div>
</div>
</form>
</main>
