<app-header></app-header>
<main class="container-fluid mb-4">
    <!--Begin Breadcrumb-->
    <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
            <li class="breadcrumb-item active">Articles</li>
        </ol>
    </nav>
    <form [formGroup]="articleForm" (ngSubmit)="modifArticle()" class="row justify-content-center">
        <div class="card m-3">
            <h5 class="card-header">Créez votre article</h5>
            <div class="card-body">
                <div>

                    <label for="articleNom">Renseignez le titre de votre article</label>
                    <input name="titre" type="text" class="form-control" formControlName="nom" [(ngModel)]="article.nom">

                    <label for="categorie">Renseignez la catégorie de votre article</label>
                    <select class="form-control" formControlName="categorie" [(ngModel)]="article.categorie" id="exampleFormControlSelect1">
                    <option value="defaut">{{article.categorie}}</option>
                    <option *ngFor="let categorie of categories ">{{categorie}}</option>
                  </select>

                    <label for="contenu ">Insérez ici le contenu de votre article</label>
                    <angular-editor [config]="editorConfig " [placeholder]=" 'Enter text here...' " formControlName="contenu" [(ngModel)]="article.contenu"></angular-editor>
                    <br>
                    <button style="float: right;" type="submit " id="boutoncreer" class="btn btn-info router" data-toggle="modal" data-target="#valmodification">Modfier</button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="valmodification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modification de l'article</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                    </div>
                    <div class="modal-body">
                        Vous avez modifié votre article avec succès.

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-info btn-ml active" Onclick="javascript:history.back()" data-dismiss="modal" aria-pressed="true">Fermer</button>

                    </div>
                </div>
            </div>
        </div>
    </form>
</main>