<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
        <div class="container">
            <a routerLink="/admin" routerLinkActive="active" class="navbar-brand">Home</a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
        </button>
            <div class="collapse navbar-collapse" id="exCollapsingNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a routerLink="/admin/admin-beneficiaires" routerLinkActive="active" class="nav-link">Ajout beneficiaires</a></li>
                    <li class="nav-item"><a routerLink="/admin/admin-entreprises" routerLinkActive="active" class="nav-link">Ajout entreprises</a></li>
                    <li class="nav-item"><a routerLink="/admin/admin-projet" routerLinkActive="active" class="nav-link">Gestion des projets/FAQ</a></li>
                    <li class="nav-item"><a routerLink="/login" routerLinkActive="active" class="nav-link">Deconnexion</a></li>

                </ul>
            </div>
        </div>
    </nav>
</header>