<app-header></app-header>
<main class="container-fluid mb-4">
    <!--Begin Breadcrumb-->
    <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
            <li class="breadcrumb-item active">Offres</li>
        </ol>
    </nav>
    <!--End Breadcrumb-->

    <div class="test">
        <article class="mb-3">
            <p class="date">Date de publication: {{offre.datePublication | date : "dd.MM.y" }}</p>
            <p class="contrat">Type de contrat: {{offre.typeContrat}}</p>
            <h1 class="titre">{{offre.intitule}}</h1>
            <p class="lieux">Lieu: {{offre.localisation}}</p>
            <p class="description" [innerHTML]="offre.description"></p>
        </article>
        <div *ngIf="verif==true">
            <a [routerLink]="['/offres/modifier-offre/', offre.idoffre]" routerLinkActive="active" class="btn btn-info">Modifier</a>

        </div>

    </div>

</main>