<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" class="row justify-content-center">
    <div class="card m-3">
        <h5 class="card-header">Créez votre projet</h5>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="form-group">
                    <label>Renseignez le titre de votre projet</label>
                    <input type="text" formControlName="titre" class="form-control"/>
                    <label>Renseignez une description pour votre projet</label>
                    <input type="text" formControlName="description" class="form-control"/>
                    <label>Renseignez les technologies utilisées pour votre projet</label>
                    <input type="text" formControlName="technologies" class="form-control"/>
                    <label>Rensieignez les fonctionnalités de votre projet</label>
                    <input type="text" formControlName="fonctionnalites" class="form-control"/>
                    <label>Number of Tickets</label>
                    <select formControlName="numberOfTickets" class="form-control" (change)="onChangeTickets($event)" [ngClass]="{ 'is-invalid': submitted && f.numberOfTickets.errors }">
                        <option value=""></option>
                        <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
                    </select>
                    <div *ngIf="submitted && f.numberOfTickets.errors" class="invalid-feedback">
                        <div *ngIf="f.numberOfTickets.errors.required">Le nombre de membre supplémentaire est obligatoire</div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngFor="let ticket of t.controls; let i = index" class="list-group list-group-flush">
            <div class="list-group-item">
                <h5 class="card-title">Membre {{i + 1}}</h5>
                <div [formGroup]="ticket" class="form-row">
                   
                    <div class="form-group col-6">
                        <label>Email</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && ticket.controls.email.errors }" />
                        
                        
                        <div *ngIf="submitted && ticket.controls.email.errors" class="invalid-feedback">
                            <div *ngIf="ticket.controls.email.errors.required">Email is required</div>
                            <div *ngIf="ticket.controls.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button class="btn btn-primary mr-1">Créez le projet</button>
            <button class="btn btn-secondary mr-1" type="reset" (click)="onReset()">Reset</button>
            <button class="btn btn-secondary" type="button" (click)="onClear()">Clear</button>
        </div>
    </div>
</form>