<app-header-admin></app-header-admin>

<div class="container" style="width: 600px; float: left; margin-bottom: 100px;">
    <h6>Projets en Cours avec 0 participants</h6>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <p>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </p>
        <div class="panel panel-default" *ngFor="let projetNb of projetsNb | paginate: { itemsPerPage: 5, currentPage: p }">
            <!-- | groupBy: 'projet.idprojet' -->
            <div class="panel-heading" role="tab" id="headingOne" *ngIf="projetNb.count === 0 && projetNb.idprojet !== 1">
                <!-- *ngIf="utilisateur.projet.etat === 'enCours' && utilisateur.projet.idprojet !== 1" -->
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#'+ projetNb.titre" aria-expanded="true" aria-controls="collapseOne">
                        <!--  [href]="'#'+ utilisateur.nom + utilisateur.prenom" -->
                        <i class="more-less glyphicon glyphicon-plus"></i> {{projetNb.titre}}
                        <p>Projet n° {{projetNb.idprojet}}</p>
                    </a>
                </h4>
            </div>
            <div [id]="projetNb.titre" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body" [innerHTML]="projetNb.description">
                </div>
                <button type="button" class="btn btn-info" (click)="deleteProjet(projetNb.idprojet)" Onclick="javascript:window.history.go(0)">Supprimer</button>
            </div>
        </div>
    </div>
</div>

<div class="container" style="width: 600px; float: left; margin-bottom: 100px;">
    <h6>FAQ sans réponse</h6>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default" *ngFor="let faqNb of faqsNb">
            <!-- | groupBy: 'projet.idprojet' -->
            <div class="panel-heading" role="tab" id="headingOne" *ngIf="faqNb.count === 0">
                <!-- *ngIf="utilisateur.projet.etat === 'enCours' && utilisateur.projet.idprojet !== 1" -->
                <h4 class="panel-title">
                    <a role="button" (click)="ajoutNumFAQLocal(faqNb.idfaq)" data-toggle="collapse" data-parent="#accordion" [href]="'#'+ faqNb.thematique + faqNb.idfaq" aria-expanded="true" aria-controls="collapseOne">

                        <!--  [href]="'#'+ utilisateur.nom + utilisateur.prenom" -->
                        <i class="more-less glyphicon glyphicon-plus"></i> {{faqNb.thematique}}
                        <p>Qst n° {{faqNb.idfaq}}</p>
                    </a>
                </h4>
            </div>
            <div [id]="faqNb.thematique + faqNb.idfaq" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body" [innerHTML]="faqNb.question">
                </div>

                <form [formGroup]="ajoutRepFAQ" (ngSubmit)="modifFAQ()" class="row justify-content-center">
                    <div class="row">
                        <div class="col-xs-5 col-md-6">

                            <div>
                                <textarea style="width: 450px;" class="fonction" rows="5" name="reponse" type="text " class="form-control " formControlName="reponse" placeholder="reponse"></textarea>
                            </div>
                            <button style="margin-left: 223px;width: 226px;" type="submit" id="boutonenvoyer" class="btn btn-primary router" Onclick="javascript:window.history.go(0)">Envoyer Reponse</button>

                        </div>
                    </div>
                </form>
                <button type="button" class="btn btn-info" (click)="deleteQstFaq(faqNb.idfaq)" Onclick="javascript:window.history.go(0)">Supprimer</button>
            </div>
        </div>
    </div>
</div>