<app-header></app-header>
<main class="container-fluid mb-4">
    <section class="row my-4">
        <div class="col-12 col-md-9">
            <!--Begin Breadcrumb-->
            <nav>
                <ol id="bandeauFilArianne" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
                    <li class="breadcrumb-item active">Offres</li>
                </ol>
            </nav>
            <!--End Breadcrumb-->
            <div *ngIf="pasOffres === true">
                <div class="list-group list-group-flush mb-3" *ngFor="let offre of data">
                    <article class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col12 col-md-8">
                                <h1 class="h3">{{offre.intitule}} / {{offre.typeContrat}}</h1>
                                <p>{{offre.localisation}}</p>
                                <p [innerHTML]="offre.description | slice:0:0">
                                </p>
                                <p>{{offre.datePublication}}</p>
                                <a style="margin-left: 680px; width: 200px;" [routerLink]="['/offres/detail-offre/', offre.idoffre]" routerLinkActive="active" class="btn btn-info">&raquo; Voir l'offre</a>
                            </div>
                        </div>
                    </article>
                    <!--end article.list-group-item-->
                </div>
            </div>
            <div *ngIf="pasOffres === false">
                <p>Je n'ai pas d'offre publiée</p>
            </div>
        </div>
        <!--End first column-->
        <div class="col-12 col-md-3">
            <section class="card">
                <div class="card-header bg-info text-white">
                    <h1 class="h5">Type d'offres</h1>
                </div>
                <!--end .card-header-->
                <ul class="list-group">
                    <li *ngFor="let type of types" (click)="orderByType(type.nom)" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <a>{{type.nom}}</a>
                        <span class="badge badge-pill badge-info">{{type.count}}</span></li>
                </ul>
            </section>
            <br>
            <!--
            <div class="card-header bg-info text-white">
                <form class="form-signin" [formGroup]="mesOffres" (ngSubmit)="listeMesOffres()">
                    <button type="submit " value="Envoyer " class="btn btn-info mt-2 mt-sm-0 ">Mes offres</button>
                </form>
            </div>
            -->
            <br>
            <div class="card-header bg-info text-white">
                <a class="btn btn-info" routerLink="/offres/creer-offre">Publier une offre</a>
            </div>

            <!--end Category section-->
        </div>
        <!--End second column-->
    </section>
    <!--end section.row-->
</main>
<!--end main.container-fluid-->
