<main role="main">
    <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
            <li class="breadcrumb-item active">Creation Offre</li>
        </ol>
    </nav>
    <form [formGroup]="offreForm" (ngSubmit)="envoyerOffre()" class="row justify-content-center">
        <div class="card m-3">
            <h5 class="card-header">Créez votre offre</h5>
            <div class="card-body">
                <label for="intitule">Renseignez l'intitulé de votre offre</label>
                <input name="nom" type="text" class="form-control" formControlName="intitule" placeholder="intitule">

                <label for="typeContrat">Choisissez le type de votre contrat</label>
                <select class="form-control" formControlName="typeContrat">
                <option value="">---</option>
                <option *ngFor="let contrat of contrats">{{contrat}}</option>
            </select>

                <label for="localisation ">Choisissez la localisation de l'offre</label>
                <select class="form-control" formControlName="localisation">
                <option value="">---</option>
                <option *ngFor="let ville of villes">{{ville}}</option>
            </select>

                <label for="contenu ">Insérez ici le contenu de votre article</label>
                <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
                <br>
                <button type="submit " id="boutoncreer" class="btn btn-primary router">Créer</button>
            </div>


        </div>

    </form>
</main>