<app-header></app-header>
<main role="main">
    <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
            <li class="breadcrumb-item active">Creation Evenement</li>
        </ol>
    </nav>
    <form [formGroup]="eventForm" (ngSubmit)="envoyerEvenement()" class="row justify-content-center">
        <div class="card m-3">
            <h5 class="card-header">Créez votre évènement</h5>
            <div class="card-body">

                <label for="eventNom">Renseignez le nom de votre évènement</label>
                <input name="nom" type="text" class="form-control" formControlName="nom" placeholder="Nom">

                <div class="form-group">
                    <label for="description">Renseignez la description de votre evenement</label>
                    <!--<angular-editor [config]="editorConfig" [placeholder]="'Description...'" formControlName="description" [(ngModel)]="htmlContent"></angular-editor>-->
                    <angular-editor [config]="editorConfig" [placeholder]="'Description...'" formControlName="description"></angular-editor>
                  </div>
                <div class="form-group">
                    <label for="localisation">Insérez ici la localisation de votre évènement</label>
                    <select class="form-control" formControlName="localisation" placeholder="localisation" id="exampleFormControlSelect1">
                  <option *ngFor="let ville of villes">{{ville}}</option>
                </select>
                </div>
                <div class="form-group">
                    <input type="date" formControlName="dateEvenement" name="dateEvenement" max="3000-12-31 " min="1000-01-01 " class="form-control " placeholder="dateEvenement "><br>
                </div>
                <button type="submit " id="boutoncreer" class="btn btn-primary ">Créer</button>
            </div>
        </div>
    </form>
</main>
