<app-header></app-header>
<main role="main">
    <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
            <li class="breadcrumb-item active">Projet</li>
        </ol>
    </nav>
    <!-- form user info -->
    <div class="card" *ngIf="verifSiEntreprise() === false" class="row justify-content-center">
        <form [formGroup]="modificationProjet" (ngSubmit)="modifProjet()" class="row justify-content-center">
            <div class="card m-3">
                <h5 class="card-header">Modification du projet</h5>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-5 col-md-6">
                                    <label for="projetTitle">Renseignez le titre de votre projet</label>
                                    <input name="titre" type="text" class="form-control" formControlName="titre" [(ngModel)]="projet.titre">
                                </div>
                                <div class="col-xs-5 col-md-6">
                                    <label for="exampleInputEmail1">Clef pour rejoindre groupe</label>
                                    <input name="groupe" type="text" class="form-control" formControlName="groupe" [(ngModel)]="projet.groupe" disabled>
                                </div>
                            </div>
                            <label for="description">Renseignez une description de votre projet</label>
                            <angular-editor formControlName="description" [config]="editorConfig" [(ngModel)]="projet.description"></angular-editor>

                            <br>
                            <label for="technologies">Listez les technologies qui seront utilisées</label>
                            <br>
                            <div class="row">

                                <div class="col-xs-5 col-md-4">
                                    <select class="form-control" formControlName="technosback" [(ngModel)]="projet.technologies">
                                        <option>{{splitted[0]}}</option>
                                        <option *ngFor="let tabtechnosback of tabtechnosbacks">{{tabtechnosback}}</option>
                                    </select>
                                </div>

                                <div class="col-xs-5 col-md-4">
                                    <select class="form-control" formControlName="technosfront">
                                        <option>{{splitted[1]}}</option>
                                        <option *ngFor="let tabtechnosfront of tabtechnosfronts">{{tabtechnosfront}}</option>
                                    </select>
                                </div>

                                <div class="col-xs-5 col-md-4">
                                    <select class="form-control" formControlName="technosbases">
                                        <option>{{splitted[2]}}</option>
                                        <option *ngFor="let tabtechnosbase of tabtechnosbases">{{tabtechnosbase}}</option>
                                    </select>
                                </div>
                            </div>

                            <br>
                            <label for="fonctions">Fonctionnalités de votre application</label>
                            <div class="row">
                                <div class="col-xs-5 col-md-4">
                                    <textarea class="fonction" rows="5" name="fonctionnalites" type="text" class="form-control" formControlName="fonctionnalites1" [(ngModel)]="splitfonc[0]"></textarea>
                                </div>
                                <div class="col-xs-5 col-md-4">
                                    <textarea class="fonction" rows="5" name="fonctionnalites" type="text" class="form-control" formControlName="fonctionnalites2" [(ngModel)]="splitfonc[1]"></textarea>
                                </div>
                                <div class="col-xs-5 col-md-4">
                                    <textarea class="fonction" rows="5" name="fonctionnalites" type="text" class="form-control" formControlName="fonctionnalites3" [(ngModel)]="splitfonc[2]"></textarea>
                                </div>
                            </div>

                            <label for="fonctions">Gits</label>
                            <div class="row">
                                <div class="col-xs-5 col-md-6">
                                    <textarea class="fonction" rows="1" name="gits" type="text" class="form-control" formControlName="git1"></textarea>
                                </div>
                                <div class="col-xs-5 col-md-6">
                                    <textarea class="fonction" rows="1" name="gits" type="text" class="form-control" formControlName="git2"></textarea>
                                </div>
                            </div>
                            <br>

                            <label> Modifier le statut de votre projet</label>
                            <select class="form-control  col-xs-5 col-md-4" formControlName="etat" [(ngModel)]="projet.etat">
                              <option>{{etatActuel}}</option>
                              <option *ngFor="let etat of etats">{{etat}}</option>
                            </select><br>
                            <button style="float: right;" type="submit" id="boutonvalider" class="btn btn-info" data-toggle="modal" data-target="#valmodification">Modifier</button>
                        </div>


                        <div class="modal fade" id="valmodification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modification projet</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                                    </div>
                                    <div class="modal-body">
                                        Vous avez modifié votre projet avec succès.

                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-info btn-ml active" Onclick="javascript:history.back()" data-dismiss="modal" aria-pressed="true">Fermer</button>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </form>
    </div>
    <!-- /form user info -->

    <div class="container py-3">
        <div class="row">
            <div class="mx-auto col-sm-8">
                <!-- form user info -->
                <div class="card" *ngIf="verifIdProjet()===true">
                    <div class="card-header">
                        <h4 class="mb-0">Vous n'avez pas encore de projet, créez en un ou rejoignez un projet existant.</h4><br>
                        <button type="button" [routerLink]="[ '/creation-projet']" class="btn btn-info btn-lg btn-block">CREER UN NOUVEAU PROJET</button><br>
                        <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" data-target="#exampleModalCenter">REJOINDRE UN PROJET</button>
                        <!-- Button trigger modal -->

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Indiquer la clef du groupe</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-signin" [formGroup]="veriNomGroupe" (ngSubmit)="verifNomGroupe()">
                                            <label for="inputNomGroupe" class="sr-only">nom du groupe</label>
                                            <input type="text" formControlName="groupe" id="inputNomGroupe" class="form-control" placeholder="Nom du groupe" required autofocus>
                                            <br>
                                            <button type="button" class="btn btn-info" type="submit" Onclick="javascript:window.history.go(0)">Rejoindre</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="entreprise()===true">
                    <div class="card" *ngIf="verifSiEntrepriseAvecProjet()===false">
                        <div class="card-header">
                            <h4 class="mb-0">Pas encore de projet soutenu</h4><br>
                            <button type="button" [routerLink]="[ '/projets/liste-projets']" class="btn btn-info btn-lg btn-block">VOIR LA LISTE DES PROJETS</button><br>
                        </div>
                    </div>

                    <div class="card" *ngIf="verifSiEntrepriseAvecProjet()===true">
                        <div class="card-header">
                            <h4 class="mb-0">je soutiens le projet {{projetSoutenu}}</h4><br>
                            <button type="button" [routerLink]="['/projets/detail-projet/', projetSoutenu]" class="btn btn-info btn-lg btn-block">VOIR LE PROJET</button><br><br>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>