<main role="main">
    <form class="form-signin" [formGroup]="logForm" (ngSubmit)="login()">
        <div class="cadreform">
            <label for="inputEmail" class="sr-only">email</label>
            <input style="margin-bottom: 8px;" type="email" formControlName="email" id="inputEmail" class="form-control" placeholder="email" required autofocus>
            <label for="inputPassword" class="sr-only">mot de passe</label>
            <input type="password" formControlName="password" id="inputPassword" class="form-control" placeholder="mot de passe" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
            <!--<a routerLink="/home" routerLinkActive="active" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Se connecter</a><br>-->
            <p style="float: right;"><a routerLink="/verifNum" routerLinkActive="active">S'inscrire</a></p><br>
        </div>
    </form>
</main>
