<app-header></app-header>
<main class="container-fluid mb-4">
    <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
            <li class="breadcrumb-item active">Mon Profil</li>
        </ol>
    </nav>
    <form style="height: 800px;" [formGroup]="modificationBenef" (ngSubmit)="modifCompte()" class="row justify-content-center">
        <div class="card m-3">
            <h5 class="card-header">Modifier compte</h5>
            <div class="card-body">
                <div class="row" *ngIf="utilisateur.numRCS === null">
                    <div class="col-xs-5 col-md-6">
                        <label for="nom">Nom</label>
                        <input class="form-control" type="text" formControlName="nom" [(ngModel)]="utilisateur.nom">
                    </div>
                    <div class="col-xs-5 col-md-6">
                        <label for="prenom">Prenom</label>
                        <input class="form-control" type="text" formControlName="prenom" [(ngModel)]="utilisateur.prenom">
                    </div>
                </div>

                <div class="row" *ngIf="utilisateur.numRCS !== null">
                    <div class="col-xs-5 col-md-6">
                        <label for="nom">Nom</label>
                        <input class="form-control" type="text" formControlName="nom" [(ngModel)]="utilisateur.nom">
                    </div>
                    <div class="col-xs-5 col-md-6">
                        <label for="prenom">Prenom</label>
                        <input class="form-control" type="text" formControlName="prenom" [(ngModel)]="utilisateur.prenom">
                    </div>
                </div>

                <label for="presentation ">Présentation</label>
                <angular-editor formControlName="presentation" [config]="editorConfig" [(ngModel)]="utilisateur.presentation"></angular-editor>

                <div class="row">
                    <div class="col-xs-5 col-md-6">
                        <label for="email">Adresse Mail</label>
                        <input id="email" [(ngModel)]="utilisateur.email " formControlName="email" type="email" class="form-control">


                    </div>


                    <div class="col-xs-5 col-md-6">
                        <label for="linkedin">LinkedIn</label>
                        <input class="form-control" type="email" formControlName="linkedin" [(ngModel)]="utilisateur.linkedin">
                    </div>
                </div>

                <div class="row" *ngIf="utilisateur.numRCS !== null">
                    <div class="col-xs-5 col-md-6">
                        <label for="siteweb">Site Web</label>
                        <input class="form-control" type="email" formControlName="siteWeb" [(ngModel)]="utilisateur.siteWeb">
                    </div>
                    <div class="col-xs-5 col-md-6">
                        <label for="ville">Ville</label>
                        <select class="form-control" formControlName="ville" [(ngModel)]="utilisateur.ville" placeholder="Ville" id="exampleFormControlSelect1">
                    <option value="">{{utilisateur.ville}}</option>
                      <option *ngFor="let tabville of tabvilles">{{tabville}}</option>
                     </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-5 col-md-6">
                        <button style="float:left;" class="btn btn-info" type="submit" [routerLink]="['/mon-compte/mon-profil/', utilisateur.projet.idprojet]" routerLinkActive="active">Changer mot de passe</button>
                    </div>
                    <div class="col-xs-5 col-md-6">
                        <button style="float: right;" type="submit " id="boutonmodifier" class="btn btn-info router" data-toggle="modal" data-target="#valmodification">Modifier profil</button>
                    </div>
                </div>
            </div>




            <br>

        </div>

        <div class="modal fade" id="valmodification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modification compte</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                    </div>
                    <div class="modal-body">
                        Vous avez modifié votre compte avec succès.

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" Onclick="javascript:window.history.go(0)" data-dismiss="modal">Fermer</button>

                    </div>
                </div>
            </div>
        </div>


    </form>

</main>