<app-header-admin></app-header-admin>


<div class="container" style="width: 400px; float: left;">
    <h6>Offres</h6>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default" *ngFor="let offre of offres">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#'+ offre.typeContrat + offre.idoffre" aria-expanded="true" aria-controls="collapseOne">
                        <i class="more-less glyphicon glyphicon-plus"></i> {{offre.intitule}}
                    </a>
                </h4>
            </div>
            <div [id]="offre.typeContrat + offre.idoffre" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body" [innerHTML]="offre.description">
                </div>
                <button type="button" class="btn btn-info" (click)="deleteOffre(offre.idoffre)" Onclick="javascript:window.history.go(0)">Supprimer</button>
            </div>
        </div>
    </div>
    <!-- panel-group -->
</div>

<div class="container" style="width: 400px; float: left;">
    <h6>Articles</h6>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default" *ngFor="let article of articles">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#'+ article.categorie + article.idarticle" aria-expanded="true" aria-controls="collapseOne">
                        <i class="more-less glyphicon glyphicon-plus"></i> {{article.nom}}
                    </a>
                </h4>
            </div>
            <div [id]="article.categorie + article.idarticle" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body" [innerHTML]=article.contenu>
                </div>
                <button type="button" class="btn btn-info" (click)="deleteArticle(article.idarticle)" Onclick="javascript:window.history.go(0)">Supprimer</button>
            </div>
        </div>
    </div>
    <!-- panel-group -->
</div>

<div class="container" style="width: 400px; float: left;">
    <h6>Evenements</h6>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default" *ngFor="let evenement of evenements">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#'+ evenement.localisation + evenement.idevenement" aria-expanded="true" aria-controls="collapseOne">
                        <i class="more-less glyphicon glyphicon-plus"></i> {{evenement.nom}}
                    </a>
                </h4>
            </div>
            <div [id]="evenement.localisation + evenement.idevenement" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body" [innerHTML]=evenement.description>
                </div>
                <button type="button" class="btn btn-info" (click)="deleteEvenement(evenement.idevenement)" Onclick="javascript:window.history.go(0)">Supprimer</button>
            </div>
        </div>
    </div>
    <!-- panel-group -->
</div>