<app-header></app-header>
<main class="container-fluid mb-4">
    <!--Begin Breadcrumb-->
    <nav>
        <ol id="bandeauFilArianne" class="breadcrumb">
            <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
            <li class="breadcrumb-item active">Offres</li>
        </ol>
    </nav>
    <form [formGroup]="offreForm" (ngSubmit)="modifOffre()" class="row justify-content-center">
        <div class="card m-3">
            <h5 class="card-header">Créez votre offre</h5>
            <div class="card-body">


                <label for="intitule">Renseignez l'intitulé de votre offre</label>
                <input name="nom" type="text" class="form-control" formControlName="intitule" [(ngModel)]="offre.intitule">

                <label for="typeContrat">Choisissez le type de votre contrat</label>
                <select class="form-control" formControlName="typeContrat" [(ngModel)]="offre.typeContrat">
                <option value="">{{offre.typeContrat}}</option>
                <option *ngFor="let contrat of contrats">{{contrat}}</option>
            </select>

                <label for="localisation ">Choisissez la localisation de l'offre</label>
                <select class="form-control" formControlName="localisation" [(ngModel)]="offre.localisation">
                <option value="">{{offre.localisation}}</option>
                <option *ngFor="let ville of villes">{{ville}}</option>
            </select>

                <label for="contenu ">Insérez ici le contenu de votre article</label>
                <angular-editor formControlName="description" [config]="editorConfig" [(ngModel)]="offre.description"></angular-editor>
                <br>
                <button style="float: right;" type="submit " id="boutoncreer" class="btn btn-info router" data-toggle="modal" data-target="#valmodification">Modfier</button>
            </div>


        </div>
        <div class="modal fade" id="valmodification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modification de l'offre</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                    </div>
                    <div class="modal-body">
                        Vous avez modifié votre offre avec succès.

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-info btn-ml active" Onclick="javascript:history.back()" data-dismiss="modal" aria-pressed="true">Fermer</button>

                    </div>
                </div>
            </div>
        </div>
    </form>
</main>