main {
    margin-top: 80px;
    padding-bottom: 80px;
    background-image: url("/assets/img/fond.png");
}

#bandeauFilArianne {
    background-color: #17a2b8a6;
}

nav {
    width: 1380px;
}

#profile {
  background-color: white;
  border-radius: 10px;
  padding:30px;
}

h3 {
    width: 800px;
    margin-left: 200px;
    text-align: left;
}

#siteWeb {
    width: 800px;
    margin-left: --100px;
    text-align: center;
}

h2 {
    width: 800px;
    margin-left: 100px;
    text-align: center;
}

h1 {
    width: 800px;
    text-align: center;
}

h4 {
    width: 800px;
    margin-left: 90px;
    text-align: center;
}

.button {
    width: 800px;
    align-items: center;
}

.numRCS {
    width: 800px;
    text-align: center;
}

body {
    font-family: 'Lato', 'sans-serif';
    text-align: center;
}

.profile {
    min-height: 355px;
    display: inline-block;
    text-align: center;
}

figcaption.ratings {
    margin-top: 20px;
    text-align: center;
}

figcaption.ratings a {
    color: #f1c40f;
    font-size: 11px;
    text-align: center;
}

figcaption.ratings a:hover {
    color: #f39c12;
    text-decoration: none;
    text-align: center;
}

.divider {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}

.emphasis {
    border-top: 4px solid transparent;
    text-align: center;
}

.emphasis:hover {
    border-top: 4px solid #1abc9c;
    text-align: center;
}

.emphasis h3 {
    margin-bottom: 0;
    text-align: center;
    background-color: yellow;
}

#boutonURL {
    background-color: #bc701a;
    color: black;
}
