<app-header></app-header>
<main class="container-fluid mb-4">
    <section class="row my-4">
        <div class="col-12 col-md-9">
            <!--Begin Breadcrumb-->
            <nav>
                <ol id="bandeauFilArianne" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
                    <li class="breadcrumb-item active">Annuaire</li>
                </ol>
            </nav>
        </div>
    </section>
    <!--End Breadcrumb-->

    <!--
  <div class="row justify-content-center" id="test">
      <article class="mb-3" >
        <div *ngIf="utilisateur.numRCS === null">
          <br>
          <div class="row">
            <div class="col6 col-md-6">
        <p class="nom" id="nom"> <b> Nom de l'utilisateur: </b>{{utilisateur.nom}}</p>
          </div>
          <div class="col6 col-md-6">
        <p class="prenom" id="prenom"> <b>Prénom de l'utilisateur: </b> {{utilisateur.prenom}}</p>
          </div>
          </div>
        <p class="ville" id="city"> <b>Localisation:</b>  {{utilisateur.ville}}</p>
        <div class="row justify-content-center" id="testprez">
          <article class="mb-6" >
        <p class="presentation" [innerHTML]> <b>Présentation:</b>  {{utilisateur.presentation}}</p>
          </article>
        </div>
        <p class="formation"> <b>Formation suivie:</b> {{utilisateur.formation}}</p>
        <p class="dateFin"> <b>Date de fin de formation:</b>  {{utilisateur.dateFin | date : "dd.MM.y" }}</p>
        <p class="promotion"> <b>Promotion de l'utilisateur:</b>  {{utilisateur.promotion}}</p>
        <p class="email"> <b>Mail :</b>  <a href="mailto:{{utilisateur.email}}">{{utilisateur.email}}</a> </p>
        <p class="linkedin"> <b>Lien linkedIn:</b>  <a href="{{utilisateur.linkedin}}" id="redirect" target="_blank">{{utilisateur.linkedin}}</a> </p>
    </div>
    <div *ngIf="utilisateur.numRCS !== null">
      <br>
        <p class="entreprise"> <b>Entreprise :</b>  {{utilisateur.nomEntreprise}}</p>
        <p class="numRCS"> <b>N° SIRET :</b>  {{utilisateur.numRCS}}</p>
        <p class="site"> <b>Site Web :</b>  <a href="{{utilisateur.siteWeb}}" id="redirect" target="_blank"> {{utilisateur.siteWeb}}</a> </p>
        <p class="nom"> <b>Nom du représentant de l'entreprise : </b>  {{utilisateur.nom}}</p>
        <p class="prenom"> <b>Prénom du représentant de l'entreprise : </b>  {{utilisateur.prenom}}</p>
        <p class="ville"> <b>Localisation : </b>  {{utilisateur.ville}}</p>
        <p class="presentation" [innerHTML]> <b>Présentation de l'entreprise : </b>  {{utilisateur.presentation}}</p>
        <p class="email"> <b>Mail : </b>  <a href="mailto:{{utilisateur.email}}">{{utilisateur.email}}</a> </p>
        <p class="linkedin"> <b>Lien linkedIn : </b>  <a href="{{utilisateur.linkedin}}" id="redirect" target="_blank"> {{utilisateur.linkedin}}</a> </p>
    </div>
      </article>
    </div> -->
    <!--link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"-->
    <div class="row justify-content-center" id="test">
        <article class="mb-3">
            <div *ngIf="utilisateur.numRCS === null">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                            <div id="profile" class="profile ">
                                <div class="col-md-12">
                                    <div class="col-xs-12 col-md-12">
                                        <h2>{{utilisateur.prenom}} {{utilisateur.nom}}</h2>
                                        <p><strong>Localisation </strong> {{utilisateur.ville}}</p>
                                        <p class="presentation" [innerHTML]><strong>Présentation </strong> <br>{{utilisateur.presentation}}</p>
                                        <p><strong>Formation:</strong></p>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <p>Intitulé</p>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <p>Promotion</p>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <p>Fin le</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4">
                                                <p> {{utilisateur.formation}}</p>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <p> {{utilisateur.promotion}}</p>
                                            </div>
                                            <div class="col-xs-12 col-md-4">
                                                <p> {{utilisateur.dateFin | date : "dd.MM.y" }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 divider text-center">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <h3><strong> Email </strong></h3>
                                            <button class="btn btn-success btn-block"><p><a href="mailto:{{utilisateur.email}}" style="color:rgb(0,0,0)">Contacter</a></p></button>
                                        </div>
                                        <div class="col-xs-12 col-md-6 ">
                                            <h3><strong>LinkedIn</strong></h3>
                                            <button class="btn btn-info btn-block"><p><a href="{{utilisateur.linkedin}}" id="redirect" target="_blank" style="color:rgb(0,0,0)">Voir profil</a></p> </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="utilisateur.numRCS !== null">
                <div class="container">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
                            <div id="profile" class="profile ">
                                <div class="col-md-12">
                                    <div class="col-xs-12 col-md-12">
                                        <h2>{{utilisateur.nomEntreprise}}</h2>
                                        <h4>N° SIRET: {{utilisateur.numRCS}}</h4>
                                        <h4>{{utilisateur.prenom}} {{utilisateur.nom}}</h4>
                                        <br>
                                        <p><strong>Localisation </strong> <br> {{utilisateur.ville}}</p>
                                        <p class="presentation" [innerHTML]><strong>Présentation </strong> <br>{{utilisateur.presentation}}</p>
                                    </div>
                                </div>
                                <div class="col-md-12 divider text-center">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <h3><strong> Email </strong></h3>
                                            <button class="btn btn-success btn-block"><p><a href="mailto:{{utilisateur.email}}" style="color:rgb(0,0,0)">Contacter</a></p></button>
                                        </div>
                                        <div class="col-xs-12 col-md-6 ">
                                            <h3><strong>LinkedIn</strong></h3>
                                            <button class="btn btn-info btn-block"><p><a href="{{utilisateur.linkedin}}"  id="redirect" target="_blank" style="color:rgb(0,0,0)">Voir profil</a></p> </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-12">
                                    <h3 id="siteWeb"><strong>Site Web</strong></h3>
                                    <button class="btn btn-info btn-block" id="boutonURL"><p><a href="{{utilisateur.siteWeb}}" id="redirect" target="_blank" style="color:rgb(0,0,0)">Voir Site Web</a></p> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>

</main>
