<app-stepper></app-stepper>
<main role="main">
    <form style="width: 900px; margin-left: 200px;" [formGroup]="inscriptionEntre" (ngSubmit)="inscriptionEntreprise()">
        <div class="card m-3">
            <h5 class="card-header">Inscription d'une Entreprise</h5>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="form-group">
                        <label for="numRCS">Votre numéro SIRET</label>
                        <input name="numRCS" type="text" class="form-control" formControlName="numRCS" placeholder="Numéro RCS" readonly>
                        <p>Renseignez l'identité du représentant de la société</p>
                        <div class="row">
                            <div class="col-xs-7 col-md-6">
                                <label for="nom">Nom du représentant</label>
                                <input name="nom" type="text " class="form-control " formControlName="nom" placeholder="Si nécessaire...">
                            </div>
                            <div class="col-xs-7 col-md-6">
                                <label for="prenom">Prénom du représentant</label>
                                <input name="prenom" type="text " class="form-control " formControlName="prenom" placeholder="Si nécessaire...">
                            </div>
                        </div>
                        <label for="presentation">Votre présentation</label>
                        <angular-editor formControlName="presentation" [config]="editorConfig" placeholder="Présentation..."></angular-editor>
                        <br>
                        <label for="linkedin">Renseignez votre lien LinkedIn</label>
                        <input name="linkedin" type="text " class="form-control " formControlName="linkedin" placeholder="LinkedIn">
                        <br>
                        <label for="siteWeb">Site Web de votre entreprise</label>
                        <input name="siteWeb" type="text " class="form-control " formControlName="siteWeb" placeholder="Site Web">
                        <br>
                        <label for="ville">Renseignez la localisation de votre société</label>
                        <select class="form-control" formControlName="ville" placeholder="Ville" id="exampleFormControlSelect1">
                      <option value="">Ville</option>
                        <option *ngFor="let ville of villes">{{ville}}</option>
                      </select>


                        <label for="email" [ngClass]="inscriptionEntre.controls['email'].invalid ? 'text-danger' : ''">Adresse Mail</label>
                        <input id="email" formControlName="email" type="email" class="form-control" [ngClass]="inscriptionEntre.controls['email'].invalid ? 'is-invalid' : ''">
                        <label class="text-danger" *ngIf="inscriptionEntre.controls['email'].hasError('required')">
                        Adresse Mail obligatoire!
                      </label>
                        <label class="text-danger" *ngIf="inscriptionEntre.controls['email'].hasError('email')">
                        Entrer une adresse Mail!
                      </label>


                        <br>
                        <div class="row">
                            <div class="col-xs-7 col-md-6">
                                <label for="password" [ngClass]="inscriptionEntre.controls['password'].invalid ? 'text-danger' : ''">Mot de passe:</label>
                                <input id="password" formControlName="password" type="password" class="form-control" [ngClass]="inscriptionEntre.controls['password'].invalid ? 'is-invalid' : ''">
                                <label class="col" [ngClass]="inscriptionEntre.controls['password'].hasError('required') || inscriptionEntre.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                                <i class="material-icons">{{ inscriptionEntre.controls['password'].hasError('required') ||
                                  inscriptionEntre.controls['password'].hasError('minlength') ? '' :
                                  '' }}</i>
                                Doit contenir au minimum 8 caractères!
                              </label>
                                <label class="col" [ngClass]="inscriptionEntre.controls['password'].hasError('required') || inscriptionEntre.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                                <i class="material-icons">{{ inscriptionEntre.controls['password'].hasError('required') ||
                                  inscriptionEntre.controls['password'].hasError('hasNumber') ? '' :
                                  '' }}</i>
                                  Doit contenir au minimum 1 chiffre!
                              </label>
                                <label class="col" [ngClass]="inscriptionEntre.controls['password'].hasError('required') || inscriptionEntre.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                                <i class="material-icons">{{ inscriptionEntre.controls['password'].hasError('required') ||
                                  inscriptionEntre.controls['password'].hasError('hasCapitalCase') ? '' :
                                  '' }}</i>
                                  Doit contenir au minimum 1 majuscule!
                              </label>
                                <label class="col" [ngClass]="inscriptionEntre.controls['password'].hasError('required') || inscriptionEntre.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                                <i class="material-icons">{{ inscriptionEntre.controls['password'].hasError('required') ||
                                  inscriptionEntre.controls['password'].hasError('hasSmallCase') ? '' :
                                  '' }}</i>
                                  Doit contenir au minimum 1 miniscule!
                              </label>
                                <label class="col" [ngClass]="inscriptionEntre.controls['password'].hasError('required') || inscriptionEntre.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                                <i class="material-icons">{{ inscriptionEntre.controls['password'].hasError('required') ||
                                  inscriptionEntre.controls['password'].hasError('hasSpecialCharacters') ? '' :
                                  '' }}</i>
                                  Doit contenir au minimum 1 caractère spécial!
                              </label>
                            </div>
                            <div class="col-xs-7 col-md-6">
                                <label for="confirmPassword" [ngClass]="inscriptionEntre.controls['confirmPassword'].invalid ? 'text-danger' : ''">Confirmer le
                              mot de passe:</label>
                                <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" [ngClass]="inscriptionEntre.controls['confirmPassword'].invalid ? 'is-invalid' : ''">
                                <label class="text-danger" *ngIf="inscriptionEntre.controls['confirmPassword'].hasError('required')">
                              Le mot de passe est obligatoire!
                            </label>
                                <label class="text-danger" *ngIf="inscriptionEntre.controls['confirmPassword'].hasError('NoPassswordMatch')">
                              Le mot de passe ne correspond pas!
                            </label>
                            </div>
                        </div>
                        <button style="float: right;" type="submit " [disabled]="inscriptionEntre.valid" id="boutonvalider " value="Envoyer " id="boutonvalider " class="btn btn-info ">Valider</button>


                    </div>

                </div>
            </div>


        </div>

    </form>
</main>
