<app-header-admin></app-header-admin>
<main class="container-fluid mb-4">
    <div class="test">

        <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>

        <form class="form-inline" target="hiddenFrame" [formGroup]="adminBenef" [class.form-submitted]="formsubmitted" (ngSubmit)="ajoutBeneficiaire()">
            <input type="text" formControlName="numPE" class="form-control mr-sm-2 mb-2 mb-sm-0" name="numPE" id="numPE" placeholder="NumPE"><br>
            <!--<input type="text" formControlName="promotion" class="form-control mr-sm-2 mb-2 mb-sm-0" name="promotion" id="promotion" placeholder="Promotion"><br>-->
            <select class="form-control mr-sm-2 mb-2 mb-sm-0" formControlName="promotion" name="promotion" id="promotion" placeholder="Promotion">
                <option *ngFor="let promotion of promotions">{{promotion}}</option>
            </select>
            <!--<input type="text" formControlName="formation" class="form-control mr-sm-2 mb-2 mb-sm-0" name="formation" id="formation" placeholder="Formation"><br>-->
            <select class="form-control mr-sm-2 mb-2 mb-sm-0" formControlName="formation" name="formation" id="formation" placeholder="Formation">
                <option *ngFor="let formation of formations">{{formation}}</option>
            </select>
            <label>&nbsp;Debut&nbsp;</label>
            <input type="date" formControlName="dateDebut" name="dateDebut " max="3000-12-31 " min="1000-01-01 " class="form-control " placeholder="dateDebut "><br>
            <label>&nbsp;Fin&nbsp;</label>
            <input type="date" formControlName="dateFin" name="dateFin" max="3000-12-31 " min="1000-01-01 " class="form-control " placeholder="dateFin "><br>&nbsp;&nbsp;
            <button type="submit " value="Envoyer " class="btn btn-primary mt-2 mt-sm-0 " Onclick="javascript:window.history.go(0) ">Envoyer</button>
        </form>
    </div>
    <br><br>
    <p style="padding-left: 400px;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </p>
    <div class="container ">
        <table class="table " *ngIf="formsubmitted">
            <thead class="thead-light ">
                <tr>
                    <th scope="col ">NumPE</th>
                    <th scope="col ">Promotion</th>
                    <th scope="col ">Formation</th>
                    <th scope="col ">DateDebut</th>
                    <th scope="col ">DateFin</th>
                    <th scope="col ">Delete</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let utilisateur of utilisateurs | paginate: { itemsPerPage: 5, currentPage: p }">
                    <th scope="row ">{{utilisateur.numPE}}</th>
                    <td>{{utilisateur.promotion}}</td>
                    <td>{{utilisateur.formation}}</td>
                    <td>{{utilisateur.dateDebut}}</td>
                    <td>{{utilisateur.dateFin}}</td>
                    <td><button type="button" class="btn btn-info" (click)="deleteUtilisateur(utilisateur.idutilisateur)" Onclick="javascript:window.history.go(0)">Supprimer</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</main>