<app-header></app-header>
<main class="container-fluid mb-4">
    <section class="row my-4">
        <div class="col-12 col-md-9">
            <!--Begin Breadcrumb-->
            <nav>
                <ol id="bandeauFilArianne" class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/homePage" style="color:white">Accueil</a></li>
                    <li class="breadcrumb-item active">Annuaire</li>
                </ol>
            </nav>
            <!--End Breadcrumb-->
            <img class="bandeau" src="/assets/img/bandeau-annuaire.jpg">
            <p style="padding-left: 300px; background-color: white;">
                <pagination-controls (pageChange)="p = $event" style="padding-left: 240px;"></pagination-controls>
            </p>
            <div class="list-group list-group-flush mb-3" *ngFor="let utilisateur of data | paginate: { itemsPerPage: 5, currentPage: p }">
                <article class="list-group-item list-group-item-action">
                    <div class="row">
                        <div class="col12 col-md-8">
                            <h4 class="h3">{{utilisateur.nom}} {{utilisateur.prenom}}</h4>
                            <p>{{utilisateur.formation}}{{utilisateur.nomEntreprise}} / {{utilisateur.promotion}}{{utilisateur.siteWeb}}</p>
                            <!--<p [innerHTML]="article.contenu|slice:0:0">
                          </p>-->
                            <a style="margin-left: 680px; width: 200px;" [routerLink]="['/utilisateurs/detail-utilisateur/', utilisateur.idutilisateur]" routerLinkActive="active" class="btn btn-info">&raquo; Voir le profil</a>
                        </div>
                    </div>
                </article>
            </div>
            <p style="padding-left: 300px; background-color: white;margin-bottom: 75px">
                <pagination-controls (pageChange)="p = $event" style="padding-left: 240px;"></pagination-controls>
            </p>
            <!--end article.list-group-item-->
        </div>
        <div class="col-12 col-md-3">
            <section class="card">
                <div class="card-header bg-info text-white">
                    <h1 class="h5">Type utilisateur</h1>
                </div>
                <!--end .card-header-->
                <ul class="list-group">
                    <li (click)="orderByTypeBenef()" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <a>Beneficiaires IDP</a>
                    </li>
                    <li (click)="orderByTypeEntre()" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <a>Entreprises partenaires IDP</a>
                    </li>
                </ul>
            </section>
            <br>
            <section class="card">
                <div class="card-header bg-info text-white">
                    <h1 class="h5">Beneficiaires Anciens/Nouveaux</h1>
                </div>
                <!--end .card-header-->
                <ul class="list-group">
                    <li (click)="orderByTypeBenefOld()" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <a>Anciens</a>
                    </li>
                    <li (click)="orderByTypeBenefNew()" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <a>Nouveaux</a>
                    </li>
                </ul>
            </section>
            <!--end Category section-->
        </div>
        <!--End second column-->
    </section>
    <!--end section.row-->
</main>
<!--end main.container-fluid-->
